block variables

include ../mock/data
include ../components/components

doctype html
html.page(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='fonts/onest-v6-cyrillic-latin-latinext-300.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/onest-v6-cyrillic-latin-latinext-400.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='vendor/simplebar/simplebar.min.css')
    link(rel='stylesheet' href='vendor/choices/choices.min.css')
    link(rel='stylesheet' href='css/style.min.css')
    link(rel='stylesheet' href='css/sdek.min.css')
    link(rel='icon' href='favicon.ico')
    link(rel='icon' href='img/favicons/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='img/favicons/favicon-180.png')
    link(rel='manifest' href='manifest.webmanifest')
    title= title
    meta(name='description' content='«Anse» — магазин верхней одежды собственного производства, преимущественнно из экомеха, на любой сезон!')
    meta(name='keywords' content='Купить шубы из экомеха в интернет-магазине, женские шубы из искусственного меха недорого, Anse, женские шубы, шубы из искусственного меха, магазин шуб, интернет-магазин шуб, экомех, Мария Кошкина.')
  body.page__body
    .page__scroll-wrapper
      +site-header(class='page__site-header')
      main.page__content
        block content
      +site-footer(class='page__site-footer')
    block modals
      +modal(class='modal--with_entry' data-modal='entry')
        +modal-entry(class='modal__entry')
    script(src='vendor/swiper/swiper-bundle.min.js')
    script(src='vendor/simplebar/simplebar.min.js')
    script(src='vendor/choices/choices.min.js')
    script(src='vendor/pristine/pristine.min.js')
    script(src='vendor/imask/imask.js')
    script(src='js/mock.js')
    script(src='js/script.js')
    script(src='js/demo.js')
