mixin advantages
  section.advantages&attributes(attributes)
    .container
      .advantages__inner
        h2.advantages__heading.heading.heading--size_l.heading--alter #[span.heading__accent 5 причин] носить ANSE
        ul.advantages__list
          each i in [1, 2, 3, 4]
            li.advantages__item
              picture.advantages__image-wrapper.media.media--cover.skeleton
                img.advantages__image.media__image(src=`img/advantages/${i}.webp` width='288' height='195' alt='' loading='lazy')
              p.advantages__text Ручная работа
          li.advantages__item
            picture.advantages__image-wrapper.media.media--cover.skeleton
              img.advantages__image.media__image(src=`img/advantages/5.webp` width='560' height='296' alt='' loading='lazy')
            p.advantages__text Ручная работа
        .advantages__button-wrapper
          +button({
            tag: 'a',
            text: 'Подробнее о бренде',
            href: 'production.html'
          })(class='advantages__button button--solid-primary')
