mixin article({ heading, breadcrumbs } = {})
  article.article&attributes(attributes)
    .container
      .article__inner
        .article__breadcrumbs
          +breadcrumbs-list({ links: breadcrumbs })
        .article__content
          h1.article__heading.heading.heading--size_l= heading
          .article__main
            block
