mixin banner
  .banner&attributes(attributes)
    .banner__container-wrapper
      .banner__container.container
        .banner__inner
          p.banner__heading Покупай СЕТ и&nbsp;выгляди отлично
          +button({
            tag: 'a',
            text: 'Посмотреть сеты',
            href: 'set.html',
          })(class='banner__button button--solid-primary-light')
    picture.banner__background-wrappper.media.media--cover.media--position_top
      source(media='(min-width: 1601px)' srcset='img/banners/set/set-banner-wide-desktop.webp 1x, img/banners/set/set-banner-wide-desktop@2x.webp 2x')
      source(media='(min-width: 1281px)' srcset='img/banners/set/set-banner-desktop.webp 1x, img/banners/set/set-banner-desktop@2x.webp 2x')
      source(media='(min-width: 769px)' srcset='img/banners/set/set-banner-laptop.webp 1x, img/banners/set/set-banner-laptop@2x.webp 2x')
      source(media='(min-width: 391px)' srcset='img/banners/set/set-banner-tablet.webp 1x, img/banners/set/set-banner-tablet@2x.webp 2x')
      img.banner__background.media__image(src='img/banners/set/set-banner.webp' srcset='img/banners/set/set-banner@2x.webp 2x' alt='')
