mixin breadcrumbs-list({ links })
  .breadcrumbs-list&attributes(attributes)
    ol.breadcrumbs__items
      li.breadcrumbs__item
        a.breadcrumbs__link(href='index.html') Главная
      each link in links
        li.breadcrumbs__item
          a.breadcrumbs__link(href= link.href)= link.text
