mixin care-rules
  +article({
    heading: 'Правила ухода',
    breadcrumbs: [{ text: 'Правила ухода' }]
  })(class='article--topic_rules article--grid_standard')
    h2 Изделия из экомеха
    ul
      li Всегда хранить на плечиках в вертикальном положении. Летом - в чехле.
      li Сушить вертикально вдали от обогревательных приборов. Мех не боится влаги, но ему нужно время, чтобы высохнуть естественным путём.
      li Никакой тепловой обработки — в том числе никакой сушки на батарее, глажения, отпаривания, использования подогрева сидений в автомобиле.
      li Стирать в стиральной машине только на деликатном режиме при температуре не выше 30 градусов, без отжима (или до 400 оборотов), сушки и отбеливания. Лучше жидким стиральным средством. Допускается использование кондиционера для деликатных тканей.
      li Локальное загрязнение можно удалить под прохладной водой мыльным раствором.
    h2 Искусственный шелк
    ul
      li Хранить пальто желательно на плечиках в вертикальном положении. Лучше всего убирать в чехол для верхней одежды.
      li Стирать пальто в стиральной машине только на деликатном/ручном режиме при температуре не выше 30°С и отжиме не более 400 оборотов. Ни в коем случае не включайте режим отбеливания.
      li Чтобы шелк не потерял свой изысканный вид, после стирки нужно прополоскать вещь еще раз в теплой, а потом в холодной воде.
      li Сушить пальто нужно на горизонтальной поверхности вдали от солнечных лучей и отопительных приборов.
