mixin cart({ empty, promocode } = {})
  .cart(class= empty && 'cart--empty')&attributes(attributes)
    .cart__container.container
      .cart__inner
        if empty
          .cart__placeholder-wrapper
            +placeholder({
              text: 'В корзине пока что ничего нет',
              link: {
                text: 'Перейти в каталог',
                href: 'catalog.html'
              }
            })
        else
          h1.cart__heading.heading.heading--size_l Корзина
          button.cart__clear-button Очистить все
          form.cart__form(action='https://fakestoreapi.com/products' method='post' target='_blank')&attributes(attributes)
            ul.cart__products-list
              each product in cartItems.slice(0, 4)
                li.cart__products-item
                  +cart-item({ product })
            section.cart__products
              h2.cart__products-heading Недоступные товары
              ul.cart__products-list
                each product in cartItems.slice(4)
                  li.cart__products-item
                    +cart-item({ product })
            +cart-order({ promocode })(class='cart__order')
