mixin catalog-filter
  form.catalog-filter&attributes(attributes)
    .catalog-filter__header
      h2.catalog-filter__heading Фильтры
      button.catalog-filter__close-button(type='button')
        span.visually-hidden Закрыть
    .catalog-filter__content
      ul.catalog-filter__sections.folds.folds--small
        li.catalog-filter__section.folds__item
          .folds__item-header
            h2.catalog-filter__section-heading
              button.folds__button(type='button' aria-expanded='true') Размер
          .folds__item-content-wrapper
            .folds__item-content
              .catalog-filter__checkboxes
                div
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '40',
                    label: '40'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '42',
                    label: '42',
                    checked: true
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '44',
                    label: '44'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '46',
                    label: '46'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '48',
                    label: '48'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '50',
                    label: '50'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '52',
                    label: '52'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '54',
                    label: '54'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '56',
                    label: '56'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: '58',
                    label: '58'
                  })
                div
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 'xs',
                    label: 'XS'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 's',
                    label: 'S'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 's-m',
                    label: 'S-M'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 'm',
                    label: 'M'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 'l',
                    label: 'L',
                    checked: true
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 'l-xl',
                    label: 'L-XL'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 'xl',
                    label: 'XL'
                  })
                  +checker({
                    name: 'size',
                    type: 'checkbox',
                    value: 'xxl',
                    label: 'XXL'
                  })
        li.catalog-filter__section.folds__item
          .folds__item-header
            h2.catalog-filter__section-heading
              button.folds__button(type='button' aria-expanded='false') Группа чекбоксов
          .folds__item-content-wrapper
            .folds__item-content
              .catalog-filter__checkboxes
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-1',
                  label: 'Значение-1'
                })
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-2',
                  label: 'Значение-2'
                })
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-3',
                  label: 'Значение-3',
                  checked: true
                })
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-4',
                  label: 'Значение-4',
                  checked: true
                })
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-5',
                  label: 'Значение-5'
                })
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-6',
                  label: 'Значение-6',
                  disabled: true
                })
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-7',
                  label: 'Значение-7',
                  disabled: true
                })
                +checker({
                  name: 'something',
                  type: 'checkbox',
                  value: 'value-8',
                  label: 'Значение-8'
                })
    .catalog-filter__footer
      +button({
        tag: 'button',
        type: 'button',
        text: 'Сбросить'
      })(class='catalog-filter__clear-button button--simple-secondary')
      +button({
        tag: 'button',
        type: 'submit',
        text: 'Показать 83 товара'
      })(class='catalog-filter__submit-button button--solid-primary')
