mixin catalog-navigation
  .catalog-navigation&attributes(attributes)
    dl.catalog-navigation__menu
      dt.catalog-navigation__menu-heading Коллекции
      dd.catalog-navigation__list-wrapper
        ul.catalog-navigation__list
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') Premier
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') Limited
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') Classic
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') SPRING
      dt.catalog-navigation__menu-heading Виды
      dd.catalog-navigation__list-wrapper
        ul.catalog-navigation__list
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') С капюшоном
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') Длина мини
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') Длина макси
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') Плюс сайз
      dt.catalog-navigation__menu-heading Sale
      dd.catalog-navigation__list-wrapper
        ul.catalog-navigation__list
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') SETы
          li.catalog-navigation__item
            a.catalog-navigation__link(href='#') Акции
