mixin checkout
  .checkout&attributes(attributes)
    header.checkout__header&attributes(attributes)
      .container
        .checkout__header-inner
          h1.checkout__heading.heading.heading--size_l.heading--alter Оформление заказа
          a.checkout__back-button(href='cart-no-promocode.html') Назад в корзину
    .checkout__inner
      +checkout-form
