mixin checkout-form
  form.checkout-form(action='https://fakestoreapi.com/products' method='post' target='_blank')&attributes(attributes)
    fieldset.checkout-form__section.checkout-form__section--delivery
      .checkout-form__section-header
        legend.checkout-form__section-heading Способ доставки
      .checkout-form__region
        +text-field({
          type: 'text',
          name: 'region',
          label: {
            text: 'Выберите Ваш регион',
          },
          placeholder: 'Выберите регион',
          readonly: true,
          dataName: 'region'
        })(class='checkout-form__region-field text-field--button' data-modal-opener='region-form')
      .checkout-form__delivery-company.checkout-form__delivery-company--hidden
        p.checkout-form__field-label.field-label Выберите компанию доставки
        ul.checkout-form__delivery-company-list
          li.checkout-form__delivery-company-item
            +radio-button({ name: 'delivery-company', value: 'sdek', label: 'СДЭК', title: 'sdek' })
          li.checkout-form__delivery-company-item
            +radio-button({ name: 'delivery-company', value: 'russian-post', label: 'Почта России', title: 'post' })
          li.checkout-form__delivery-company-item
            +radio-button({ name: 'delivery-company', value: 'self-pickup', label: 'Самовывоз', title: 'self-pickup' })
      .checkout-form__delivery-method
        p.checkout-form__field-label.field-label Выберите способ доставки
        +delivery-methods(class='checkout-form__delivery-methods')
      .checkout-form__self-pickup
        p.checkout-form__self-pickup-heading Магазин ANSE в Санкт-Петербурге
        p.checkout-form__self-pickup-text ул. Рылеева, д.21#[br] 6 мин. пешком от ст. м. Чернышевская
        +button({
          tag: 'a',
          text: 'Показать на карте',
          href: 'https://yandex.ru/maps/-/CDwEMP6C',
          target: '_blank',
          rel: 'nofollow noopener'
        })(class='checkout-form__self-pickup-link button--simple-primary')
        p.checkout-form__self-pickup-heading График работы
        p.checkout-form__self-pickup-text Ежедневно, с 11:00 до 20:00
    fieldset.checkout-form__section.checkout-form__section--user
      .checkout-form__section-header
        legend.checkout-form__section-heading Личные данные
      +text-field({
        type: 'text',
        name: 'name',
        label: {
          text: 'ФИО',
          hidden: 'true'
        },
        placeholder: 'ФИО'
      })(class='checkout-form__name-field')
      +text-field({
        type: 'email',
        name: 'email',
        label: {
          text: 'Email:',
          hidden: 'true'
        },
        placeholder: 'Email*',
        required: true,
        dataName: 'email'
      })(class='checkout-form__email-field')
      +text-field({
        type: 'tel',
        name: 'phone',
        label: {
          text: 'Телефон:',
          hidden: 'true'
        },
        placeholder: 'Телефон*',
        required: true,
        dataName: 'phone'
      })(class='checkout-form__phone-field')

      +text-field({
        type: 'text',
        name: 'delivery-address',
        label: {
          text: 'Адрес доставки',
          hidden: 'true'
        },
        placeholder: 'Добавить адрес доставки',
        readonly: true,
        dataName: 'delivery-address'
      })(class='checkout-form__delivery-address-field text-field--button' data-modal-opener='address-form')

      +text-field({
        type: 'number',
        name: 'postal-code',
        label: {
          text: 'Индекс:',
          hidden: 'true'
        },
        placeholder: 'Индекс'
      })(class='checkout-form__postal-code-field')
      +text-field({
        type: 'text',
        name: 'pick-up-point',
        label: {
          text: 'ПВЗ',
          hidden: 'true'
        },
        placeholder: 'Адрес выбранного ПВЗ',
        readonly: true,
      })(class='checkout-form__pick-up-point-field text-field--button' data-modal-opener='pick-up-point')
      +text-area({
        name: 'commment',
        label: {
          text: 'Комментарий',
          hidden: 'true'
        },
        placeholder: 'Комментарий к заказу',
      })(class='checkout-form__comment')
    fieldset.checkout-form__section.checkout-form__section--payment
      .checkout-form__section-header
        legend.checkout-form__section-heading Оплата
      +payment-methods
    +checkout-order(class='checkout-form__order')
