mixin company-preview
  section.company-preview&attributes(attributes)
    .container
      .company-preview__inner
        h2.company-preview__heading.heading.heading--size_l.heading--alter О нас
        picture.company-preview__image-wrapper.media.media--cover.media--position_top
          img.company-preview__image.media__image(src='img/decor/mariya-anse.webp' scrset='mariya-anse@2x.webp 2x' width='365' height='471' alt='Красивая, улыбающаяся девушка в шубе.' loading='lazy')
        .company-preview__content
          blockquote.company-preview__quote «Для тех, кому важно, что на&nbsp;себе носить»
          p.company-preview__quote-author – с любовью, ваша Мария ANSE
          +button({
            tag: 'a',
            text: 'Подробнее о бренде',
            href: 'production.html'
          })(class='company-preview__button button--solid-primary')
