mixin delivery-and-payment
  +article({
    heading: 'Доставка и оплата',
    breadcrumbs: [{ text: 'Доставка и оплата' }]
  })(class='article--topic_delivery-and-payment article--grid_standard')
    h2 Доставка
    p Доставка по всей России, Беларуси и Казахстану.
    h3 Самовывоз из магазина
    p Бесплатно.
    h3 Транспортной компанией СДЭК
    p В пункт выдачи СДЭК — бесплатно.
    p Курьером СДЭК по адресу — 1500 рублей (бесплатно для заказов от 40 000 рублей).
    a(href='#!' target='_blank' rel='nofollow noopener') Отследить заказ
    h3 Почтой России
    p Почтой России до отделения — 800 рублей.
    p Почтой России EMS (ускоренная курьерская) —&nbsp;2000 рублей. *
    p * Стоимость доставки может быть изменена в зависимости от дальности региона.
    a(href='#!' target='_blank' rel='nofollow noopener') Отследить заказ
    h3 Аксессуары — 300 рублей до пункта выдачи.
    h2 Оплата
    p К оплате товаров/услуг нашего Интернет-магазина принимаются карты Visa, MasterCard, платежные системы МИР, China UnionPay и JCB, выпущенные банками, которые находятся на территории РФ.
    p Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».
    p СБП (системы быстрых платежей), Yandex Pay, Мир Pay и Альфа Pay.
    .article__payment-systems
      +payment-systems
    p Как только вы завершите оформление заказа в&nbsp;нашем магазине, вам понадобится перейти по предложенной вам ссылке на "Заказ". Там вы сможете выбрать подходящий способ оплаты. Для выбора способа оплаты с помощью карты нажмите кнопку «Оплатить картой». Система сама откроет окно для ввода реквизитов карты.
    h2 Возврат и обмен
    p Если вам не подошло изделие (исключая индивидуальный заказ), то вы можете оформить возврат в течение 7 дней после получения, обмен в течение 14 дней, в оригинальной упаковке.
    p Изделие должно соответствовать следующим требованиям:
    ul
      li отсутствие следов эксплуатации и носки
      li наличие ярлыков и бирок на пломбе в неповрежденном виде на изделии
    p Для этого потребуется:
    ul
      li ознакомиться с памяткой по обмену и возврату
      li сложить изделие в коробку со всеми комплектующими
      li отправить посылку через СДЭК (осуществляется за счёт покупателя): по тарифу "СКЛАД-СКЛАД". На ПВЗ компании "СДЭК" (город Санкт-Петербург, пр. Луначарского, д. 62, корп. 1 на имя сотрудника: Кошкин Владимир Николаевич, 8-921-341-47-52).
      li отправить посылку через Почту России (осуществляется за счет покупателя): курьерской доставкой (EMS) на юридический адрес компании: 191123, Санкт-Петербург, ул. Рылеева 21, магазин экошуб АНСЭ на имя Али М. В.
      li сообщить нашим менеджерам об отправке и указать трек-номер
    p Возврат денежных средств осуществляется в течение 10 календарных дней с момента получения посылки.
