mixin info
  section.info&attributes(attributes)
    .container
      .info__inner
        h2.info__heading Дизайнерские шубы из искусственного меха
        .info__content
          p Все экошубы ANSE с 2011 года создаются в Санкт-Петербурге, на собственном производстве. Во главе производства стоят родители создательницы бренда, Марии Кошкиной: Алла и Владимир, а дизайн всех изделий Мария создает сама. Мы работаем только с лучшими материалами, которые отбираются и тестируются нашей командой.
          p Все экошубы ANSE с 2011 года создаются в Санкт-Петербурге, на собственном производстве. Во главе производства стоят родители создательницы бренда, Марии Кошкиной: Алла и Владимир, а дизайн всех.
          p Все экошубы ANSE с 2011 года создаются в Санкт-Петербурге, на собственном производстве. Во главе производства стоят родители создательницы бренда, Марии Кошкиной: Алла и Владимир, а дизайн всех изделий Мария создает сама. Мы работаем только с лучшими материалами, которые отбираются и тестируются нашей командой.
          p Все экошубы ANSE с 2011 года создаются в Санкт-Петербурге, на собственном производстве. Во главе производства стоят родители создательницы бренда, Марии Кошкиной: Алла и Владимир, а дизайн всех.
