mixin location-map
  section.location-map&attributes(attributes)
    .container
      .location-map__inner
        h2.location-map__heading.heading.heading--size_l.heading--alter Как добраться?
        picture.location-map__image-wrappper.media.media--cover
          img.location-map__image.media__image(src='img/map.webp' width='750' height='535' alt='')
        p.lead Ждем вас во флагманском магазине Ansé в центре города, чтобы вы убедились, что мех можно носить круглый год!
        p За 13 лет нам удалось доказать, что от верхней одежды можно получать еще и&nbsp;удовольствие. Мы увидели, что она помогает женщинам раскрыть их индивидуальность и сделать увереннее. Станьте частью Ansé уже сейчас!
        p Ежедневно отправляем наши изделия по всей России, Казахстану и Беларуси с&nbsp;2011 года.
