mixin main-banner
  .main-banner&attributes(attributes)
    .main-banner__container-wrapper
      .main-banner__container.container
        .main-banner__inner
          p.main-banner__slogan Надень ANSE #[span.main-banner__slogan-accent тебя увидят]
    picture.main-banner__background-wrappper.media.media--cover.media--position_top
      source(media='(min-width: 769px)' srcset='img/banners/main/main-banner-wide-desktop.webp')
      img.main-banner__background.media__image(src='img/banners/main/main-banner-tablet@2x.webp' alt='Девушка красуется в стильной шубе.')
