mixin modal
  dialog.modal&attributes(attributes)
    .modal__inner
      button.modal__button.modal__button--close(type='button' data-modal-close-button)
        span.visually-hidden Закрыть
      block
