mixin modal-offer
  .modal-offer&attributes(attributes)
    .modal-offer__content
      h2 Программа лояльности
      p.lead Совершайте покупки, чувствуйте внимание окружающих и&nbsp;вступайте в&nbsp;наш экслюзивый модный клуб Anse.
      p Мы ценим Вашу лояльность и хотим предлагаем вам эксклюзивными преимуществами:
      ul
        li Закрытые показы новых и концептуальных шуб ограниченной серии с&nbsp;Марией Anse. Вы можете купить их первой.
        li Персонализированные предложения от общей суммы покупок в 40000 и особенное предложение от суммы в 60000 рублей. Они Вам точно понравятся.
        li Вы получаете информацию по новым лукам и&nbsp;образам первой и можете сделать приоритетный предзаказ и&nbsp;другие приятности.
    +button({
      tag: 'a',
      href: '#',
      text: 'Присоединиться'
    })(class='modal-offer__button button--solid-primary')
