mixin press-preview({ preview })
  article.press-preview
    img.press-preview__logo(src= preview.logo.image alt= preview.logo.alt loading='lazy')
    if preview.author
      p.press-preview__author= preview.author
    h2= preview.heading
    p= preview.text
    +button({
      tag: 'a',
      text: 'Читать полностью',
      href: preview.link,
      target: '_blank',
      rel: 'nofollow noopener'
    })(class='press-preview__link button--simple-primary')
    picture.press-preview__image-wrapper.skeleton
      img.press-preview__image(src= preview.image alt='' loading='lazy')
