mixin price-section
  secton.price-section&attributes(attributes)
    h2.visually-hidden Цена
    s.price-section__price.price-section__price--old 34 980 ₽
    p.price-section__price 20 985 ₽
    p.price-section__installments
      span.price-section__installments-icon
        span.visually-hidden Долями:
      span.price-section__installments-text 4 платежа по 6 995 ₽
