mixin privacy-policy
  +article({
    heading: 'Политика конфиденциальности',
    breadcrumbs: [{ text: 'Политика конфиденциальности' }]
  })(class='article--topic_document article--grid_wide')
    ol
      li
        h2 Общие положения
        ol
          li Настоящая Политика конфиденциальности (далее – «Политика») общества с ограниченной ответственностью «АНСЭ» (ИНН 7841505732, ОГРН 1147847270042, КПП 781301001, юридический адрес: 191123, Санкт-Петербург, ул. Рылеева, дом 21, лит. А, пом. 2Н, далее – «Продавец»), выступающего в качестве оператора персональных данных, определяет порядок обработки и защиты информации о физических лицах – посетителях (далее – «Посетитель») Интернет-сайта #[a(href='https://anse-shop.ru' target='_blank') https://anse-shop.ru] (далее – «Сайт»), на котором опубликована настоящая Политика, носящего информационно-рекламный характер и содержащего функционал Интернет-магазина по принятию и обработке предварительных заказов для приобретения товаров, предложение о приобретении которых размещено на Сайте (далее – «Товар»), на основании договора розничной купли-продажи товара дистанционным способом, заключаемого между Продавцом и Посетителем (далее – «Договор») на Условиях продажи Товаров в результате размещения предварительных заказов посредством сайта #[a(href='https://anse-shop.ru' target='_blank') https://anse-shop.ru] (далее – «Условия»). Если Политикой не установлено иное, то используемые в ней термины применяются в том же значении, что и в размещенных на Сайте Условиях.
          li Направление Посетителем Продавцу предварительного заказа Товара путем (1) заполнения Посетителем формы размещенной в окне, всплывающем на странице Сайта, посвященной выбранному Посетителем виду Товара, (2) принятия Покупателем Условий и Политики (3) последующего нажатия кнопки «Заказать», означает принятие Пользователем настоящей Политики и дачу Посетителем Продавцу согласия на обработку его персональных данных. К Политике предоставляется свободный доступ Посетителю, а также всем пользователям сети «Интернет»  посредством ее размещения на Сайте на постоянной основе.
          li Продавец вправе по своему усмотрению изменять настоящую Политику. Новая редакция Политики размещается на Сайте и вступает в силу по истечении 10 (Десяти) дней после ее опубликования.
          li Если Пользователь не согласен с Политикой или изменениями Политики, он не сможет совершать предварительные заказы посредством Сайта или получать консультации путем нажатия кнопки «Получить консультацию», последующего заполнения и отправки формы, размещенной на странице Сайта о каждом из видов Товаров, представленных на Сайте, что, однако, не лишает Посетителя возможности оформить предварительный заказ или получить консультацию путем личной явки в офис или в один из шоурумов Продавца.
          li Обработка персональных данных Пользователей осуществляется в целях исполнения Продавцом обязательств, возникающих в связи с заключением, исполнением, изменением, и прекращением Договора, в том числе, в следующих целях:
            ol
              li идентификация Посетителя, направление Посетителем и получение Продавцом предварительного заказа Товара;
              li обмен сообщениями с Посетителем в ходе ведения переговоров о заключении Договора, согласование условий Договора, формирование, уточнение, изменение Бланка заказа, как он описан в разделе 3 Условий;
              li обеспечение Продавцом Посетителя полной и достоверной информацией о Товарах; необходимый для данной цели обмен сообщениями с Посетителем;
              li принятие оплаты Товара посредством безналичных денежных средств и электронных средств платежа, идентификация Посетителя в качестве надлежащего плательщика; необходимый для данной цели обмен сообщениями с Посетителем;
              li доставка Товара в согласованное Продавцом и Посетителем место, вручение Товара Посетителю, идентификация получателя Товара в качестве надлежащего получателя; необходимый для данной цели обмен сообщениями с Посетителем;
              li надлежащее исполнение процедур по возврату/обмену Товара, возврату уплаченных за возвращаемый/обмениваемый Товар денежных средств, доставке возвращаемого/обмениваемого Товара в согласованное Продавцом и Посетителем место; необходимый для данной цели обмен сообщениями с Посетителем;
              li надлежащее исполнение процедур по устранению недостатков Товара, уменьшению цены приобретенного Товара, возмещению расходов Посетителя на устранение недостатков, замене Товара на аналогичный с соответствующим перерасчетом покупной цены; необходимый для данной цели обмен сообщениями с Посетителем;
              li надлежащее исполнение процедуры гарантийного обслуживания/ремонта Товара; необходимый для данной цели обмен сообщениями с Посетителем;
              li сбор, обработка и анализ обезличенной статистической информации, касающейся использования Сайта, в том числе в целях проведения маркетинговых исследований и реализации товаров, работ или услуг;
              li предоставление Посетителю функционала Сайта;
              li размещение или распространение таргетированной, поисковой, баннерной и иных видов рекламы;
              li исправление, изменение, улучшение и дополнение функционала Сайта.
          li В связи с тем, что обработка персональных данных Посетителя осуществляется в целях заключения и исполнения Договора, стороной которого является Посетитель, согласие Посетителя на такую обработку не требуется.
          li Если в соответствии с законом обработка определенных категорий персональных данных допускается только с письменного согласия субъекта персональных данных, обработка Продавцом таких категорий персональных данных Пользователя осуществляется на основании отдельного письменного согласия Пользователя и в соответствии с требованиями закона.
          li Обработка персональных данных Посетителя, сделанных общедоступными Посетителем либо по его просьбе, осуществляется без согласия Посетителя в части таких персональных данных, если иное не следует из законодательства Российской Федерации и отсутствуют иные законные основания для обработки персональных данных Пользователя.
      li
        h2 Принципы обработки персональных данных
        ol
          li Обработка персональных данных Посетителя осуществляется Продавцом на законной и справедливой основе.
          li Обработка персональных данных Посетителя ограничивается достижением целей, указанных в пункте 1.6 Политики. Продавец не осуществляет обработку персональных данных, несовместимую с целями сбора персональных данных Посетителя.
          li Продавец не объединяет базы данных, содержащие персональные данные, обработка которых осуществляется в целях, несовместимых между собой.
          li Продавец обрабатывает только те персональные данные Посетителя, которые отвечают целям их обработки.
          li Содержание и объем обрабатываемых Продавцом персональных данных соответствуют заявленным целям обработки. Продавец не осуществляет обработку избыточных по отношению к заявленным целям их обработки персональных данных Посетителя.
          li Продавец обеспечивает при обработке персональных данных Посетителя их точность, достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Продавец принимает необходимые меры (либо обеспечивает их принятие) по удалению или уточнению неполных или неточных данных Посетителя.
          li Хранение персональных данных осуществляется Продавцом в форме, позволяющей определить субъекта персональных данных, в срок, указанный в пункте 8.1 Политики.
          li Продавец соблюдает иные принципы обработки персональных данных, предусмотренные законодательством Российской Федерации или международно-правовыми нормами.
      li
        h2 Персональные данные
        ol
          li К персональным данным Посетителя относятся сведения, которые Пользователь предоставляет при размещении Посетителем посредством Сайта предварительного заказа Товара и при согласовании Продавцом и Посетителем условий Договора в Бланке заказа или вне его, сведения, предоставляемые Посетителем в ходе обмена электронными сообщениями с Продавцом, необходимые для исполнения Договора, а также иные сведения, с помощью которых Посетитель может быть прямо или косвенно определен и которые предоставлены Посетителем в процессе использования функционала Сайта или в ходе обмена электронными сообщениями с Продавцом.
          li Иная информация предоставляется Посетителем по его желанию.
          li В состав персональных данных Посетителя, которые могут обрабатываться и передаваться Продавцом, входят, не ограничиваясь ими: фамилия, имя, отчество Посетителя, возраст, номер документа, удостоверяющего личность, адрес электронной почты, номер телефона, адрес для почтовой корреспонденции, адрес места жительства и адрес места нахождения, биометрические персональные данные Посетителя (рост, объем груди, талии, бедер и др.), необходимые для согласования предмета Договора, платежные данные (номер кредитной/дебетовой карты, номер счета, реквизиты электронного кошелька).
          li В случае предоставления Посетителем Продавцу персональных данных третьего лица, Посетитель обязан получить согласие такого третьего лица на обработку персональных данных третьего лица и ознакомить его с Политикой. Факт предоставления Посетителем Продавцу персональных данных означает получение Посетителем согласия третьего лица и ознакомление его с Политикой.
      li
        h2 Биометрические данные посетителей
        ol
          li Посетитель может передавать Продавцу в связи с заключением и исполнением Договора биометрические персональные данные, включая, рост, объем груди, талии, бедер и другие данные, характеризующие физиологические особенности Посетителя, необходимые для согласования предмета Договора.
          li Персональные данные, указанные в пункте 4.1 настоящей Политики, не используются Продавцом для идентификации Посетителя, в связи с чем письменное согласие Посетителя на их обработку не требуется.
      li
        h2 Иная обрабатываемая информация
        ol
          li Помимо персональных данных пользователей (пункты 3 и 4 Политики), Продавец  осуществляет обработку следующей информации:
            ol
              li Стандартные данные, получаемые http-сервером при доступе к Сайту и последующих действиях Посетителя, в том числе IP-адрес хоста, вид операционной системы пользователя, экрана (страницы) Сайта, посещаемые Посетителем.
              li Автоматически отправляемые Продавцу фрагменты данных, используемые для сохранения данных на стороне Посетителя (“cookie” и им подобные).
              li Информация, получаемая в результате действий Посетителя на Сайте.
      li
        h2 Доступ к персональным данным
        ol
          li Посетитель соглашается с тем, что Продавец для целей исполнения своих обязанностей и осуществления прав, вытекающих из Договора или в связи с его заключением, иных документов, принятых Продавцом, и норм законодательства Российской Федерации, имеет доступ к любой информации, которая передана Посетителем Продавцу посредством Сайта или в ходе обмена сообщениями с Продавцом, в том числе, к персональным данным Посетителя.
          li Продавец принимает организационные и технические меры, необходимые и достаточные для защиты персональных данных Посетителя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц в отношении таких данных.
          li Продавец свободно распоряжается обезличенной статистической информацией, касающейся использования Сайта Посетителем и функционирования Сайта, в том числе вправе передавать ее третьим лицам.
          li Лица, не являющиеся сотрудниками и представителями Продавца, доступа к персональным данным Посетителя не имеют, за исключением персональных данных, которые сделаны Посетителем общедоступными.
      li
        h2 Изменение и удаление персональных данных
        ol
          li Посетитель обязуется предоставлять достоверную информацию о себе, поддерживать ее актуальность. Достоверность и актуальность информации, переданной Посетителем посредством Сайта или в ходе обмена сообщениями с Продавцом презюмируется. В случае наличия у Продавца оснований полагать, что предоставленная Посетителем персональная информация не является точной, достаточной или актуальной, Продавец может направить Посетителю запрос с просьбой уточнить, дополнить или актуализировать предоставленную ранее персональную информацию. Риск предоставления Посетителем Продавцу недостоверной или неактуальной информации или неполучения ответа на запрос Продавца лежит на Посетителе.
          li Посетитель вправе в любое время до заключения Договора изменить предоставленную Продавцу персональную информацию посредством направления Продавцу соответствующего сообщения. Посетитель осознает, что изменение персональной информации, имеющей значения для исполнения Договора, в процессе исполнения Договора может привести к дополнительным расходам Продавца, которые могут быть возложены на Посетителя.
          li Посетитель вправе в любое время отозвать свое согласие на обработку части указанных в Политике персональной информации путем направления Продавцу письменного заявления, если в результате такого отзыва состав такой информации не окажется меньше минимального предела, необходимого для заключения, исполнения, изменения, прекращения Договора.
          li Отзыв Посетителем своего согласия на обработку всей предоставленной им ранее Продавцу персональной информации, либо отзыв той части персональной информации, без использования которой заключение, исполнение, изменение, прекращение Договора становится невозможным, считается отказом Посетителя от Договора.
      li
        h2 Срок хранения персональных данных
        ol
          li Срок обработки персональных данных Посетителя, в том числе их хранения, складывается из срока действия Договора между Продавцом и Посетителем, его отдельных положений или вытекающих из него обязательств и 3 (Трех) лет по окончании его действия или действия таких отдельных положений или обязательств.
          li Если законодательством Российской Федерации установлен иной срок для хранения отдельных категорий персональных данных Посетителя, чем предусмотренный настоящей Политикой, то предусматривается срок, установленный законом.
      li
        h2 Заключительные положения
        ol
          li Посетители вправе направлять свои вопросы, предложения и пожелания по поводу настоящей Политики по адресу электронной почты: #[a(href='mailto:admin@anse-shop.ru' target='_blank' rel='nofollow noopener') admin@anse-shop.ru].
          li Настоящая Политика является первой редакцией и  вступает в силу с момента ее размещения на странице #[a(href='https://anse-shop.ru' target='_blank') https://anse-shop.ru].
    footer Дата опубликования настоящей редакции Политики на Сайте: #[time(datetime='2017.05.31') 31.05.2017].
