mixin product-info
  .product-info&attributes(attributes)
    ul.product-info__list
      li.product-info__item.product-info__item--open
        .product-info__header
          h2.product-info__heading
            button.product-info__button(type='button' aria-expanded='true') Характеристики
        .product-info__content-wrapper
          .product-info__content
            p Декоративный элемент в виде нагрудного кармана.
            p Декоративный элемент в виде разрезов в нижней части рукава.
            p Меховой пояс не идет в комплекте
            br
            p Рост модели 168 cм, грудь 87 cм, талия 62 cм, бедра 90 cм.
            p Размер на модели S
      li.product-info__item
        .product-info__header
          h2.product-info__heading
            button.product-info__button(type='button' aria-expanded='false') Правила ухода
        .product-info__content-wrapper
          .product-info__content
            ul
              li Всегда хранить на плечиках в вертикальном положении. Летом - в чехле.
              li Сушить вертикально вдали от обогревательных приборов. Мех не боится влаги, но ему нужно время, чтобы высохнуть естественным путём.
              li Никакой тепловой обработки — в том числе никакой сушки на батарее, глажения, отпаривания, использования подогрева сидений в автомобиле.
              li Стирать в стиральной машине только на деликатном режиме при температуре не выше 30 градусов, без отжима (или до 400 оборотов), сушки и отбеливания. Лучше жидким стиральным средством. Допускается использование кондиционера для деликатных тканей.
              li Локальное загрязнение можно удалить под прохладной водой мыльным раствором.
              li Всегда хранить на плечиках в вертикальном положении. Летом - в чехле.
              li Сушить вертикально вдали от обогревательных приборов. Мех не боится влаги, но ему нужно время, чтобы высохнуть естественным путём.
              li Никакой тепловой обработки — в том числе никакой сушки на батарее, глажения, отпаривания, использования подогрева сидений в автомобиле.
              li Стирать в стиральной машине только на деликатном режиме при температуре не выше 30 градусов, без отжима (или до 400 оборотов), сушки и отбеливания. Лучше жидким стиральным средством. Допускается использование кондиционера для деликатных тканей.
              li Локальное загрязнение можно удалить под прохладной водой мыльным раствором.
              li Никакой тепловой обработки — в том числе никакой сушки на батарее, глажения, отпаривания, использования подогрева сидений в автомобиле.
              li Стирать в стиральной машине только на деликатном режиме при температуре не выше 30 градусов, без отжима (или до 400 оборотов), сушки и отбеливания. Лучше жидким стиральным средством. Допускается использование кондиционера для деликатных тканей.
              li Локальное загрязнение можно удалить под прохладной водой мыльным раствором.
      li.product-info__item
        .product-info__header
          h2.product-info__heading
            button.product-info__button(type='button' aria-expanded='false') Доставка
        .product-info__content-wrapper
          .product-info__content
            p Доставка по всей России, Беларуси и Казахстану.
            p Самовывоз из магазина: бесплатно
            p Транспортной компанией СДЭК: в пункт выдачи — бесплатно, курьером по адресу — 1500 рублей (бесплатно для заказов от 40 000 рублей).
      li.product-info__item
        .product-info__header
          h2.product-info__heading
            button.product-info__button(type='button' aria-expanded='false') Обмен и возврат
        .product-info__content-wrapper
          .product-info__content
            p Если вам не подошло изделие (исключая индивидуальный заказ), то вы можете оформить возврат в течение 7 дней после получения, обмен в течение 14 дней, в оригинальной упаковке.
            p Изделие должно соответствовать следующим требованиям:
            ul
              li отсутствие следов эксплуатации и носки
              li наличие ярлыков и бирок на пломбе в неповрежденном виде на изделии
