mixin profile-form({ birthDate })
  form.profile-form(action='https://fakestoreapi.com/products' method='post' target='_blank')&attributes(attributes)
    .profile-form__section
      .profile-form__phone
        p.profile-form__phone-label.field-label Номер телефона
        p.profile-form__phone-number +7 (222) 222-22-22
    fieldset.profile-form__section
      .profile-form__section-header
        legend.profile-form__section-heading Личные данные
      +text-field({
        type: 'text',
        name: 'name',
        label: {
          text: 'Имя и фамилия',
        },
        placeholder: 'Введите имя и фамилию'
      })(class='profile-form__name-field')
      +text-field({
        type: 'email',
        name: 'email',
        label: {
          text: 'Электронная почта',
        },
        placeholder: 'Email',
        required: true,
        dataName: 'email'
      })(class='profile-form__email-field')
      .profile-form__birth-date
        p.profile-form__birth-date-label.field-label Дата рождения
        if birthDate
          +info-button({ text: 'Изменить дату рождения' })(data-modal-opener='birth-date-info')
        p.profile-form__birth-date-text Поздравим вас с Днем рождения!
        if  birthDate
          p.profile-form__birth-date-value
            span.profile-form__birth-date-value-day 10
            span.profile-form__birth-date-value-month августа
            span.profile-form__birth-date-value-year 1991
        else
          +button({
            tag: 'button',
            type: 'button',
            text: 'Добавить дату рождения'
          })(class='profile-form__birth-date-button button--solid-brand' data-modal-opener='birth-date')
    fieldset.profile-form__section.profile-form__section--address
      .profile-form__section-header
        legend.profile-form__section-heading Адрес
        p.profile-form__section-header-text Будем автоматически подставлять при оформлении заказа
      +button({ tag: 'button', type: 'button', text: 'Определить местоположение' })(class='profile-form__location-button button--simple-primary button--simple-with-icon_location')
      .profile-form__select-wrapper.profile-form__country
        p.profile-form__select-label.field-label Страна
        +select(countrySelect)
      +text-field({
        type: 'text',
        name: 'city',
        label: {
          text: 'Город, населённый пункт',
        },
        placeholder: 'Введите название города'
      })(class='profile-form__city-field')
      +text-field({
        type: 'text',
        name: 'street-and-house',
        label: {
          text: 'Улица, номер дома',
        },
      })(class='profile-form__street-and-house-field')
      +text-field({
        type: 'text',
        name: 'entrance',
        label: {
          text: 'Подъезд',
        },
      })
      +text-field({
        type: 'text',
        name: 'apartment-office',
        label: {
          text: 'Квартира, офис',
        },
      })
    .profile-form__footer
      +button({
        tag: 'button',
        type: 'submit',
        text: 'Сохранить'
      })(class='profile-form__submit-button button--solid-primary-secondary' data-submit-button)
