mixin reviews
  section.reviews&attributes(attributes)
    .container
      .reviews__inner
        h2.reviews__heading.heading--size_l.heading--alter Нас ценят уже 10 лет
        p Каждый отзыв - это история радости и счастья. Для нас это важнейший стимул соответствовать. Ведь то, что сделано своими руками и с любовью, вызывает такие же эмоции для тех, для кого это сделано.
