-
  const reviewsFilterLinks = [
    {
      text: '2023/22',
      active: true
    },
    {
      text: '2021/20'
    },
    {
      text: '2019/18'
    },
    {
      text: '2017/16'
    },
    {
      text: '2015/14'
    },
    {
      text: '2013/12'
    },
    {
      text: '2011/10'
    },
    {
      text: '2009/08'
    },
    {
      text: '2007/06'
    },
  ];

mixin reviews({ reviews })
  section.reviews&attributes(attributes)
    .container
      .reviews__inner
        header.reviews__header
          h2.reviews__heading.heading.heading--size_l.heading--alter Нас ценят уже 10 лет
          p Каждый отзыв - это история радости и счастья. Для нас это важнейший стимул соответствовать. Ведь то, что сделано своими руками и с любовью, вызывает такие же эмоции для тех, для кого это сделано.
          .reviews__filter-wrapper
            +simple-filter({ links: reviewsFilterLinks })
        .reviews__list-wrapper
          +reviews-list({ reviews, button: true })
