mixin reviews-intro
  .reviews-intro&attributes(attributes)
    .container
      .reviews-intro__inner
        h1.reviews-intro__heading.heading.heading--size_l Отзывы наших клиентов
        .reviews-intro__statistics
          +statistics-list({
            items: [
              {
                key: '2050+',
                value: 'отзывов'
              },
              {
                key: '3+',
                value: 'новых отзыва в неделю'
              },
              {
                key: '5/5',
                value: 'средяя оценка'
              },
              {
                key: '4045+',
                value: 'фотографий от счастливых клиентов'
              },
            ]
          })(class='statistics-list--wide')
        .reviews-intro__quote
          blockquote «За 12 лет нам удалось доказать, что можно получать от верхней одежды больше, чем просто удовольствие. Мы увидели: она помогает женщинам раскрывать их индивидуальность и делает увереннее. Более 4000 фото-отзывов в нашей группе Вконтакте доказывают это»
          p – Мария Кошкина, основатель Anse
        .reviews-intro__slider-wrapper
          .reviews-intro__slider.swiper
            ul.reviews-intro__slider-list.swiper-wrapper
              li.reviews-intro__slider-item.swiper-slide(data-modal-opener='reviews-intro-photos')
                picture.reviews-intro__slider-image-wrapper.media.media--cover.media--position_top.skeleton
                  img.reviews-intro__slider-image.media__image(src='img/reviews-intro/1.webp' width='365' height='471' alt='' loading='lazy')
              li.reviews-intro__slider-item.reviews-intro__slider-item--quote.swiper-slide
                .reviews-intro__quote
                  blockquote «За 12 лет нам удалось доказать, что можно получать от верхней одежды больше, чем просто удовольствие. Мы увидели: она помогает женщинам раскрывать их индивидуальность и делает увереннее. Более 4000 фото-отзывов в нашей группе Вконтакте доказывают это»
                  p – Мария Кошкина, основатель Anse
              each i in [2, 3, 1, 2]
                li.reviews-intro__slider-item.swiper-slide(data-modal-opener='reviews-intro-photos')
                  picture.reviews-intro__slider-image-wrapper.media.media--cover.media--position_top.skeleton
                    img.reviews-intro__slider-image.media__image(src=`img/reviews-intro/${i}.webp` width='365' height='471' alt='' loading='lazy')
          +slider-arrows(class='reviews-intro__slider-arrows')
