mixin select(select)
  .select&attributes(attributes)
    select.select__control(name= select.name)
      if select.placeholder
        option(value='')= select.placeholder
      each option in select.options
        option(value= option.value)= option.text
