mixin simple-filter({ links })
  .simple-filter&attributes(attributes)
    .simple-filter__slider-wrapper
      .simple-filter__slider.swiper
        ul.simple-filter__slider-list.swiper-wrapper
          each link in links
            li.simple-filter__slider-item.swiper-slide
              a.simple-filter__link(
                class= link.active && 'simple-filter__link--active'
                href= !link.active && '#'
              )= link.text
      +slider-arrows(class='simple-filter__slider-arrows slider-arrows--alter')
