mixin site-navigation
  .site-navigation&attributes(attributes)
    ul.site-navigation__list.site-navigation__list--level_1
      li.site-navigation__item
        a.site-navigation__link.site-navigation__link--opener(href='catalog.html') Шубы
        ul.site-navigation__list.site-navigation__list--level_2
          li.site-navigation__item
            p.site-navigation__title Коллекции
            ul.site-navigation__list.site-navigation__list--level_3
              li.site-navigation__item
                a.site-navigation__link(href='#') Premier
              li.site-navigation__item
                a.site-navigation__link(href='#') Limited
              li.site-navigation__item
                a.site-navigation__link(href='#') Classic
              li.site-navigation__item
                a.site-navigation__link(href='#') SPRING
          li.site-navigation__item
            p.site-navigation__title Виды
            ul.site-navigation__list.site-navigation__list--level_3
              li.site-navigation__item
                a.site-navigation__link(href='#') С капюшоном
              li.site-navigation__item
                a.site-navigation__link(href='#') Длина мини
              li.site-navigation__item
                a.site-navigation__link(href='#') Длина макси
              li.site-navigation__item
                a.site-navigation__link(href='#') Плюс сайз
          li.site-navigation__item
            p.site-navigation__title Sale
            ul.site-navigation__list.site-navigation__list--level_3
              li.site-navigation__item
                a.site-navigation__link(href='sets.html') SETы
              li.site-navigation__item
                a.site-navigation__link(href='#') Акции
      li.site-navigation__item
        a.site-navigation__link(href='catalog.html') Не шубы
      li.site-navigation__item
        a.site-navigation__link(href='catalog.html') Аксессуары
      li.site-navigation__item.site-navigation__item--simple-submenu
        a.site-navigation__link.site-navigation__link--opener(href='reviews') Отзывы
        ul.site-navigation__list.site-navigation__list--level_2
          li.site-navigation__item
            a.site-navigation__link(href='celebrities.html') Звезды
          li.site-navigation__item
            a.site-navigation__link(href='press.html') Пресса о нас
      li.site-navigation__item
        a.site-navigation__link(href='production.html') Производство
      li.site-navigation__item
        a.site-navigation__link(href='shop.html') Магазин
