-
  const sizes = [
    {
      value: 'xxs',
      disabled: true
    },
    {
      value: 'xs'
    },
    {
      value: 's',
      checked: true
    },
    {
      value: 'm'
    },
    {
      value: 'l',
      disabled: true
    },
    {
      value: 'xl'
    },
  ];

mixin size-buttons
  .size-buttons&attributes(attributes)
    each size in sizes
      label.size-buttons__item
        input.size-buttons__control.visually-hidden(name='size' value= size.value type='radio' checked= size.checked && '' disabled= size.disabled && '')
        span.size-buttons__label= size.value
    .size-buttons__tooltip Осталась 1 шт.
