mixin size-guide-taber
  .taber.taber--fancy#size-guide-taber&attributes(attributes)
    ul.taber__list
      li.taber__tab-wrapper
        a.taber__tab Таблица размеров
      li.taber__tab-wrapper
        a.taber__tab Определить размер
    section.taber__panel
      h2.visually-hidden Таблица размеров
      +size-chart
    section.taber__panel
      h2.visually-hidden Определить размер
      p Обратите внимание, что все замеры нужно производить на одежду, которая будет носиться под шубой. Не делайте прибавок на свободу облегания.
      .article__photos
        img(src='img/woman.webp' width='162' height='516' alt='Схематическое изображение тела.' loading='lazy')
        p(style='top: 26.4%; left: 65%')
          button(type='button' aria-expanded='false')
            span
            span Обхват&nbsp;груди
          span При измерении обхвата груди лента должна плотно прилегать к телу. Спереди лента должна проходить по наиболее выступающим точкам, сбоку — через подмышечные впадины, а со спины — обхватывать лопатки.
        p(style='top: 36%; right: 63%')
          button(type='button' aria-expanded='false')
            span Обхват&nbsp;талии
            span
          span Измеряется горизонтально по самому узкому участку торса, обычно на уровне пупка или чуть выше
        p(style='top: 46.7%; left: 65%')
          button(type='button' aria-expanded='false')
            span
            span Обхват&nbsp;бёдер
          span Измеряется горизонтально по середине бедра спереди и по выступающим ягодицам сзади.
      .article__video
        p Посмотрите видео, как правильно снять мерки
        .article__video-wrapper
          +video({ poster: 'img/posters/size-guide.webp' })
