extends layout/layout

block variables
  - var title = 'Корзина | Anse'
  - var page = 'cart'

block content
  +breadcrumbs({ links: [
    {
      text: 'Корзина'
    }
  ]})
  +cart({
    promocode: {
      status: 'success',
      value: 'Промокод'
    }
  })(class='page__cart')
  +products({
    heading: 'Добавьте к заказу'
  })
  +advantages
  +info

block modals
  +modal(class='modal--default modal--with_manager-contacts' data-modal='manager-contacts')
    +manager-contacts
