extends layout/layout

block variables
  - var title = 'Корзина | Anse'
  - var page = 'cart'

block content
  +breadcrumbs({ links: [
    {
      text: 'Корзина'
    }
  ]})
  +cart(class='page__cart')
