extends layout/layout

block variables
  - var title = 'Завершенные заказы | Anse'
  - var page = 'completed-orders'

block content
  +orders({
    orders: {
      current: true,
    },
    activeLink: 'completed'
  })
