extends layout/layout

block variables
  - var title = 'Текущие заказы | Anse'
  - var page = 'current-orders'

block content
  +orders({
    orders: {
      completed: true,
    },
    activeLink: 'current'
  })
