extends layout/layout

block variables
  - var title = 'Текущие заказы | Anse'
  - var page = 'current-orders'

block content
  +orders({
    orders: {
      current: true,
    },
    activeLink: 'current'
  })

append modals
  +modal(class='modal--default modal--with_manager-contacts' data-modal='manager-contacts')
    +manager-contacts
