extends layout/layout

block variables
  - var title = 'Карта сайта | Anse'
  - var page = 'dev-site-map'

block content
  h1.visually-hidden Карта сайта.
  p Модальные окна "Связаться с менеджером", "Подписать", "Добавить в корзину" пока не работают.
  ol
    li #[a(href='index.html') Главная]
    li #[a(href='search.html') Поиск]
    li #[a(href='search-empty.html') Поиск (ничего не найдено)]
    //- li #[a(href='catalog.html') Каталог]
    li #[a(href='product.html') Продукт]
    li #[a(href='production.html') Производство]
    li #[a(href='reviews.html') Отзывы]
    li #[a(href='shop.html') Магазин]
    li #[a(href='celebrities.html') Звёзды]
    //- li #[a(href='dev-ui-kit.html') UI Kit]
    li #[a(href='privacy-policy.html') Политика конфиденциальности]
    li #[a(href='public-offer.html') Публичная оферта]
    li #[a(href='delivery-and-payment.html') Доставка и оплата]
    li #[a(href='care-rules.html') Правила ухода ]
    li #[a(href='size-guide.html') Как подобрать размер]
    li #[a(href='not-found.html') 404]
    li #[a(href='press.html') Пресса о нас]
    //- li #[a(href='cart.html') Корзина]
    //- li #[a(href='cart-empty.html') Корзина (пустая)]
    li #[a(href='checkout.html') Оформление заказа]
    li #[a(href='login.html') Вход]
    li Личный кабинет
      ul
        li #[a(href='account.html') Нет скидки]
        li #[a(href='vip-account.html') Есть скидка]
    li История заказов
      ul
        li #[a(href='orders-empty.html') Заказов нет]
        li #[a(href='current-orders.html') Текущие заказы]
        li #[a(href='current-orders-empty.html') Текущих заказов нет]
        li #[a(href='completed-orders.html') Завершенные заказы]
        li #[a(href='completed-orders-empty.html') Завершенных заказов нет]
