extends layout/layout

block variables
  - var title = 'Карта сайта | Anse'
  - var page = 'dev-site-map'

block content
  h1.visually-hidden Карта сайта.
  ol
    li #[a(href='index.html') Главная]
    li #[a(href='search.html') Поиск]
    li #[a(href='search-empty.html') Поиск (ничего не найдено)]
    li #[a(href='production.html') Производство]
    li #[a(href='reviews.html') Отзывы]
    li #[a(href='shop.html') Магазин]
    li #[a(href='celebrities.html') Звёзды]
    li #[a(href='dev-ui-kit.html') UI Kit]
    li #[a(href='privacy-policy.html') Политика конфиденциальности]
    li #[a(href='public-offer.html') Публичная оферта]
    li #[a(href='delivery-and-payment.html') Доставка и оплата]
    li #[a(href='care-rules.html') Правила ухода ]
    li #[a(href='size-guide.html') Как подобрать размер]
    li #[a(href='not-found.html') 404]
    li #[a(href='press.html') Пресса о нас]
    li #[a(href='cart.html') Корзина]
    li #[a(href='cart-empty.html') Корзина (пустая)]
