extends layout/layout

block variables
  - var title = 'Карта сайта | Anse'
  - var page = 'dev-site-map'

block content
  h1.visually-hidden Карта сайта.
  ol
    li #[a(href='index.html') Главная]
    li #[a(href='production.html') Производство ]
    li #[a(href='dev-ui-kit.html') UI Kit]
    li #[a(href='care-rules.html') Правила ухода ]
    li #[a(href='privacy-policy.html') Политика конфиденциальности]
    li #[a(href='public-offer.html') Публичная оферта]
    li #[a(href='delivery-and-payment.html') Доставка и оплата]
    li #[a(href='size-guide.html') Как подобрать размер]
    li #[a(href='not-found.html') 404]
