extends layout/layout

block variables
  - var title = 'Карта сайта | Anse'
  - var page = 'dev-site-map'

block content
  h1.visually-hidden Карта сайта.
  ol
    li #[a(href='index.html') Главная]
    li #[a(href='dev-ui-kit.html') UI Kit]
    li #[a(href='privacy-policy.html') Политика конфиденциальности]
    li #[a(href='public-offer.html') Публичная оферта]
    li #[a(href='not-found.html') 404]
