extends layout/layout

block variables
  - var title = 'Anse — магазин верхней одежды из экомеха и не только!'
  - var page = 'index'
  - var lightHeader = true
  - var specialOffer = true

block content
  h1.visually-hidden «Anse» — верхняя одежда собственного производства, преимущественнно из экомеха, на любой сезон!
  +main-banner
  +catalog-preview
  +categories
  +advantages
  +company-preview
  +brands
  +info
