extends layout/layout

block variables
  - var title = 'Данные профиля | Anse'
  - var page = 'profile'

block content
  +profile({ birthDate: true })

append modals
  +modal(class='modal--default modal--with_info' data-modal='birth-date-info')
    +modal-info
  +modal(class='modal--default modal--with_manager-contacts' data-modal='manager-contacts')
    +manager-contacts
