extends layout/layout

block variables
  - var title = 'Данные профиля | Anse'
  - var page = 'profile'

block content
  +profile

append modals
  +modal(class='modal--default modal--with_info' data-modal='birth-date-info')
    +modal-info
