extends layout/layout

block variables
  - var title = 'Отзывы | Anse'
  - var page = 'reviews'

block content
  +breadcrumbs({ links: [
    {
      text: 'Отзывы'
    }
  ]})
  +reviews-intro
  +consumers-photos
  +reviews({ reviews })

append modals
  +modal(class='modal--with_gallery-slider' data-modal='consumers-photos')
    +consumers-photos-modal-gallery-slider(class='modal__gallery-slider')
  +modal(class='modal--with_gallery-slider' data-modal='reviews-intro-photos')
    +reviews-intro-photos-modal-gallery-slider(class='modal__gallery-slider')
