.banner {
  display: grid;
  grid-template-columns: 100%;
  color: var(--text-light-color);
}

.banner__container-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.banner__container {
  height: 100%;
}

.banner__inner {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  padding: 40px 0;
  align-content: end;

  @media (min-width: $laptop-width) {
    padding: 62px 0;
  }
}

.banner__heading {
  max-width: 270px;
  margin: 0 0 20px;
  font: 400 24px/1 $main-font-family;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    font-size: 44px;
  }

  @media (min-width: $desktop-width) {
    max-width: 650px;
    font-size: 58px;
  }
}

.banner__button {
  @media (min-width: $tablet-width) {
    justify-self: start;
  }

  @media (min-width: $tablet-width) {
    min-width: 313px;
  }
}

.banner__background-wrappper {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-width: 1920px;
  height: 700px;
  margin: 0 auto;
  background: var(--background-dark-color);

  @media (min-width: $laptop-width) {
    height: 528px;
  }

  @media (min-width: $desktop-width) {
    height: 720px;
  }
}
