.button {
  display: inline-flex;
  box-sizing: border-box;
  padding: 0;
  border: none;
  align-items: center;
  text-align: center;
  font-family: $main-font-family;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
  transition-property: border-color, text-decoration-color, color, background-size, box-shadow;
  transition-duration: $duration-m;
  transition-timing-function: ease;
}

.button__inner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.button__counter {
  display: flex;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding: 1px 2px 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
  transition-property: color, background-color;
  transition-duration: $duration-m;
  transition-timing-function: ease-in-out;

  @media (min-width: $desktop-width) {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}

.button--pending .button__inner::after {
  content: "";
  width: 20px;
  height: 20px;
  background: currentColor;
  mask: url("../img/spinner.svg");
  mask-size: contain;
}

.button--pending:not(.button--pending-with-text) {
  .button__inner::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button__text {
    opacity: 0;
  }
}

.button--disabled:not(.button--pending):not(.button--pending-with-text) {
  opacity: 0.5;
  pointer-events: none;
}

.button--solid-primary.button--disabled:not(.button--pending):not(.button--pending-with-text) {
  border-color: var(--text-weak-color-3);
  background: var(--text-weak-color-3);
  opacity: 1;
}

[class*="button--simple"] {
  position: relative;
  font-size: 16px;
  line-height: 1;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -4px;
    left: 0;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: $duration-m;
    transition-timing-function: ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &:active::after {
    transform: translateY(-2px) scaleX(1);
    transition-duration: $duration-xs;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.button--simple-alter {
  text-align: left;
  text-decoration: underline solid transparent;

  &::after {
    display: none;
  }

  &:hover {
    text-decoration-color: currentColor;
  }
}

.button--simple-primary {
  color: var(--brand-color);
}

.button--simple-secondary {
  color: var(--text-weak-color);
}

.button--simple-danger {
  color: var(--accent-color);
}

[class*="button--simple-with-icon"] {
  &::after {
    left: 30px;

    @media (min-width: $desktop-width) {
      left: 34px;
    }
  }

  .button__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;
  }

  .button__inner::before {
    content: "";
    background: currentColor;
    width: 20px;
    height: 20px;

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
    }
  }
}

.button--simple-with-icon_location .button__inner::before {
  mask: url("../img/icons.svg#location");
}

[class*="button--solid"] {
  position: relative;
  padding: 0 15px;
  border: 1px solid currentColor;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  background-origin: border-box;

  &:not(.button--pending):active {
    transition-duration: $duration-xs;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }

  .button__text {
    padding: 15px 0;
  }
}

.button--solid-primary {
  border-color: var(--background-dark-color);
  color: var(--text-light-color);
  background: linear-gradient(var(--background-dark-color), var(--background-dark-color)) no-repeat bottom center / 100% 100%;
  background-origin: border-box;

  &:not(.button--pending):hover {
    color: var(--text-color);
    background-size: 100% 0;
  }

  &:not(.button--pending):active {
    color: var(--brand-color);
    background-size: 100% 0;
  }
}

.button--solid-primary-light {
  border-color: var(--background-color);
  color: var(--text-color);
  background: linear-gradient(var(--background-color), var(--background-color)) no-repeat bottom center / 100% 100%;
  background-origin: border-box;

  &:hover {
    color: var(--text-light-color);
    background-size: 100% 0;
  }

  &:active {
    color: var(--brand-color);
    background-size: 100% 0;
  }
}

.button--solid-brand {
  border-color: var(--background-additional-color);
  color: var(--brand-color);
  background: linear-gradient(var(--background-additional-color), var(--background-additional-color)) no-repeat bottom center / 100% 100%;
  background-origin: border-box;

  &:hover {
    background-size: 100% 0;
  }

  &:active {
    color: var(--text-weak-color);
    background-size: 100% 0;
  }
}

.button--solid-primary-secondary {
  border-color: var(--background-dark-color);
  color: var(--text-light-color);
  background: linear-gradient(var(--background-dark-color), var(--background-dark-color)) no-repeat bottom center / 100% 100%;
  background-origin: border-box;

  &:hover {
    color: var(--text-color);
    background-size: 100% 0;
  }

  &:active {
    color: var(--brand-color);
    background-size: 100% 0;
  }

  @media (min-width: $laptop-width) {
    color: var(--text-color);
    background-size: 100% 0;

    &:hover {
      color: var(--text-light-color);
      background-size: 100% 100%;
    }

    &:active {
      background-size: 100% 100%;
    }
  }
}

.button--solid-secondary-alter {
  border-color: var(--border-light-color-4);
  color: var(--text-color);
  background: linear-gradient(var(--background-dark-color), var(--background-dark-color)) no-repeat top center / 100% 0%;
  background-origin: border-box;

  .button__counter {
    background: var(--background-additional-color-2);
  }

  &:hover {
    color: var(--text-light-color);
    background-size: 100% 100%;

    .button__counter {
      color: var(--text-color);
      background: var(--background-color);
    }
  }

  &:active {
    color: var(--brand-color);
    background-size: 100% 100%;

    .button__counter {
      color: var(--text-color);
      background: var(--background-color);
    }
  }
}

.button--solid-secondary-alter.button--active {
  color: var(--text-light-color);
  background-size: 100% 100%;
  pointer-events: none;

  .button__counter {
    color: var(--text-color);
    background: var(--background-color);
  }
}

.button--solid-secondary-alter.button--size_s {
  @media (max-width: ($laptop-width - 1)) {
    .button__text {
      padding: 9px 0 8px;
    }

    .button__counter {
      width: 19px;
      height: 19px;
    }
  }
}
