.cart-order {
  display: grid;
  font: 400 14px/17px $main-font-family;

  @media (min-width: $wide-tablet-width) {
    padding: 12px;
    border-radius: 12px;
    background: var(--background-additional-color);
  }

  @media (min-width: $laptop-width) {
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px;
  }
}

.cart-order__heading {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;

  @media (min-width: $laptop-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
  }
}

.cart-order__list {
  display: grid;
  margin: 0 0 10px;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  justify-content: space-between;
  color: var(--text-weak-color);
}

.cart-order__list-value {
  margin: 0;
  text-align: right;
  color: var(--text-color);

  &--accent {
    color: var(--accent-color);
  }
}

.cart-order__offer {
  display: grid;
  padding: 12px 28px 12px 16px;
  border-radius: 8px;
  margin: 0 0 20px;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  align-items: center;
  color: var(--text-color);
  background: var(--background-additional-color);

  @media (min-width: $wide-tablet-width) {
    background: var(--background-color);
  }

  @media (min-width: $laptop-width) {
    padding: 8px 16px 8px 12px;
    font-size: 12px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 17px;
  }

  &::before {
    content: "";
    width: 25px;
    height: 25px;
    background: url("../img/icons.svg#truck");

    @media (min-width: $laptop-width) {
      width: 21px;
      height: 21px;
    }

    @media (min-width: $desktop-width) {
      width: 25px;
      height: 25px;
    }
  }
}

.cart-order__promocode-wrapper {
  margin: 0 0 20px;

  @media (max-width: ($wide-tablet-width - 1)) {
    padding: 20px 0;
    border-top: 1px solid var(--border-light-color);
    border-bottom: 1px solid var(--border-light-color);
    order: -1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.cart-order__promocode-heading {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;

  @media (min-width: $wide-tablet-width) {
    display: none;
  }
}

.cart-order__total {
  display: flex;
  margin: 0 0 20px;
  align-items: baseline;
}

.cart-order__total-text {
  margin: 0 auto 0 0;
  font-size: 18px;
  line-height: 22px;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.cart-order__total-price {
  margin: 0 0 0 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.cart-order__total-price--old {
  position: relative;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color-4);

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 17px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0.67em;
    right: 0;
    left: 0;
    height: 1px;
    background: currentColor;
  }
}

.cart-order__button {
  width: 100%;
}
