.field-label {
  font: 400 16px/1 $main-font-family;
  color: var(--text-weak-color);

  @media (min-width: $laptop-width) {
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}
