.gallery-slider {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
  align-items: center;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.gallery-slider__slider {
  grid-area: 1 / 1 / 2 / 2;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.gallery-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-slider__image-wrapper {
  width: 100%;
  aspect-ratio: 622 / 786;
}

.gallery-slider__arrows {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  margin: 0 -5px;

  @media (min-width: $tablet-width) {
    margin-right: -20px;
    margin-left: -20px;
  }
}
