.logo {
  --logo-color: currentColor;

  display: block;
  color: inherit;
}

.logo__image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.logo[href] {
  transition: color $duration-m ease-in-out;

  &:hover {
    color: var(--brand-color);
  }

  &:active {
    color: var(--text-weak-color);
    transition-duration: $duration-xs;
  }
}
