.main-banner {
  display: grid;
  grid-template-columns: 100%;
  color: var(--text-light-color);
}

.main-banner__container-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.main-banner__container {
  height: 100%;
}

.main-banner__inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-banner__slogan {
  position: relative;
  padding-right: 128px;
  margin: 0 0 74px;
  text-align: center;
  font: 300 32px/1 $main-font-family;

  @media (min-width: $tablet-width) {
    padding-right: 170px;
    margin-bottom: 65px;
    font-size: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 186px;
    margin-bottom: 28px;
    font-size: 74px;
  }
}

.main-banner__slogan-accent {
  position: absolute;
  top: calc(100% - 34px);
  left: 61px;
  font-family: $decorative-font-family;
  font-size: 58px;
  font-weight: 400;
  color: var(--brand-color);
  transform: rotate(-5deg);

  @media (min-width: $tablet-width) {
    left: 127px;
    font-size: 80px;
  }

  @media (min-width: $desktop-width) {
    top: calc(100% - 56px);
    left: 185px;
    font-size: 100px;
  }
}

.main-banner__text {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }

  @media (min-width: $laptop-width) {
    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 56px;
  }
}

.main-banner__text-accent {
  vertical-align: baseline;
  font-family: $decorative-font-family;
  font-size: 32px;
  font-weight: 400;
  color: var(--brand-color);

  @media (min-width: $tablet-width) {
    font-size: 50px;
  }

  @media (min-width: $laptop-width) {
    font-size: 80px;
    display: inline-block;
    transform: translateY(-4px);
  }

  @media (min-width: $desktop-width) {
    font-size: 100px;
  }
}

.main-banner__background-wrappper {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-width: 1920px;
  height: 820px;
  min-height: 500px;
  margin: 0 auto;
  background: var(--background-dark-color);

  @media (min-width: $laptop-width) {
    height: 800px;
  }

  @media (min-width: $desktop-width) {
    height: 970px;
  }
}

.main-banner--alter {
  .main-banner__inner {
    justify-content: flex-end;
  }

  .main-banner__slogan {
    padding: 0;
    margin: 0;
  }

  .main-banner__text {
    margin-top: -10px;

    @media (min-width: $laptop-width) {
      margin-top: -12px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -24px;
    }
  }

  .main-banner__button {
    margin: 212px 0 60px;

    @media (max-width: ($wide-tablet-width - 1)) {
      width: 100%;
    }

    @media (min-width: $wide-tablet-width) {
      min-width: 273px;
      margin: 70px 0 120px;
    }

    @media (min-width: $desktop-width) {
      min-width: 273px;
      margin: 112px 0 163px;
    }
  }
}
