.media {
  display: block;

  &--contain .media__image {
    object-fit: contain;
  }

  &--cover .media__image {
    object-fit: cover;
  }

  &--position_top .media__image {
    object-position: top center;
  }
}

.media__image {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
}
