.modal-sdek {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  background: var(--background-additional-color);
}

.modal-sdek__header-message {
  position: relative;
  z-index: 1;
  padding: 8px 0 7px;
  margin: 0;
  text-align: center;
  font: 500 12px/1 $main-font-family;
  background: var(--brand-color);
  color: var(--text-color);
  transition-property: padding, line-height, color;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;
  overflow: hidden;

  @media (min-width: $laptop-width) {
    font-size: 14px;
    padding: 9px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    padding: 8px 0;
  }
}

.modal-sdek__header-message p {
  margin: 0;
}

.modal-sdek__header-message a {
  color: inherit;
  text-decoration: none;
  transition: color $duration-s ease-in-out;

  &:hover {
    color: var(--text-light-color);
  }
}

.modal-sdek__header {
  position: relative;
  z-index: 1;
  border-radius: 0 0 12px 12px;
  background: var(--background-color);

  @media (min-width: $laptop-width) {
    width: 100%;
    border-radius: 0 0 16px 16px;
  }
}

.modal-sdek__header-inner {
  display: grid;
  padding: 20px 0;
  grid-template-columns: 28px 1fr 28px;
  column-gap: 8px;
  grid-auto-flow: dense;
  align-items: center;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding: 30px 0;
  }
}

.modal-sdek__heading {
  grid-column: 2 / 3;
  margin: 0;
}

.modal-sdek__header-back-button {
  position: relative;
  display: flex;
  width: 18px;
  height: 10px;
  margin: 0 0 0 2px;
  color: inherit;
  transition: color $duration-m ease-in-out;

  @media (min-width: $laptop-width) {
    width: 20px;
    height: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 28px;
    height: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -12px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    background: currentColor;
    mask: url("../img/icons.svg#controls_arrow-without-tail");
    transform: rotate(90deg);
    transition: transform $duration-xs ease-in;
  }

  &:hover {
    color: var(--brand-color);
  }

  &:active {
    color: var(--brand-color);

    &::after {
      transform: translateX(-2px) rotate(90deg);
    }
  }
}

.modal-sdek__map-wrapper {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: #a9a9a9;
  overflow: hidden;

  @media (min-width: $laptop-width) {
    border-radius: 0;
  }
}

.modal-sdek__map {
  width: 100%;
  height: 100%;
}

.modal-sdek--style_sdek {
  @media (min-width: $laptop-width) {
    row-gap: 0;
    background: var(--background-additional-color);
  }
}
