.product-info__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $laptop-width) {
    display: flex;
    column-gap: 42px;
    align-items: center;
    background-image: linear-gradient(to top, var(--border-light-color), transparent 2px);
  }

  @media (min-width: $desktop-width) {
    column-gap: 76px;
  }
}

.product-info__item {
  position: relative;
  z-index: 0;
  padding: 20px 0;
  border-top: 1px solid var(--border-light-color);
  border-bottom: 1px solid var(--border-light-color);
  background: var(--background-color);
  overflow: hidden;

  @media (min-width: $laptop-width) {
    position: static;
    padding: 0;
    border: none;
    background: transparent;
  }
}

.product-info__item + .product-info__item {
  margin-top: -1px;
}

.product-info__header {
  display: grid;
  padding: 0 10px 0 0;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 20px;
  transition: color $duration-m ease-in-out;

  @media (min-width: $laptop-width) {
    display: block;
    padding: 0;
    color: var(--text-weak-color);
  }

  &::after {
    content: "";
    width: 14px;
    height: 10px;
    background: currentColor;
    mask: url("../img/icons.svg#controls_arrow-without-tail");
    transform: rotate(0);
    pointer-events: none;
    transition: transform $duration-s ease-in-out;

    @media (min-width: $laptop-width) {
      display: none;
    }
  }
}

.product-info__heading {
  margin: 0;
  font: 500 18px/1 $main-font-family;

  @media (min-width: $laptop-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.product-info__button {
  padding: 0;
  border: none;
  text-align: inherit;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;

  @media (min-width: $laptop-width) {
    position: relative;
    padding-bottom: 22px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: transparent;
      transition: background-color $duration-m ease-in-out;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media (min-width: $laptop-width) {
      display: none;
    }
  }
}

.product-info__content-wrapper {
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  @media (max-width: ($laptop-width - 1)) {
    overflow: hidden;
    transition: height $duration-s ease-in-out;
  }

  @media (min-width: $laptop-width) {
    top: 38px;
    left: 0;
    position: absolute;
    width: 100%;
    height: auto !important; // stylelint-disable-line
    padding-right: 20px;
    max-height: calc(100% - 38px);
  }

  .simplebar-track.simplebar-vertical {
    @media (min-width: $laptop-width) {
      bottom: 50px;
    }
  }
}

.product-info__content {
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity $duration-s ease-in-out,
    visibility $duration-s step-end;
  overflow: hidden;

  @media (min-width: $laptop-width) {
    position: static !important; // stylelint-disable-line
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.product-info__item:not(.product-info__item--open) .product-info__content-wrapper {
  pointer-events: none;

  @media (max-width: ($laptop-width - 1)) {
    height: 0 !important; // stylelint-disable-line
  }

  @media (min-width: $laptop-width) {
    * {
      visibility: hidden !important; // stylelint-disable-line
      opacity: 0 !important; // stylelint-disable-line
    }
  }
}

.product-info__item--open {
  .product-info__header::after {
    transform: rotate(180deg);
  }

  .product-info__header {
    color: var(--brand-color);

    @media (min-width: $laptop-width) {
      color: var(--text-color);
    }
  }

  .product-info__button {
    @media (min-width: $laptop-width) {
      pointer-events: none;
    }
  }

  .product-info__button::after {
    @media (min-width: $laptop-width) {
      background-color: currentColor;
    }
  }

  .product-info__content {
    opacity: 1;
    visibility: visible;
    transition:
      opacity $duration-s ease-in-out,
      visibility $duration-s step-start;
  }
}

.product-info__item:hover {
  .product-info__header::after {
    will-change: transform;
  }

  .product-info__content-wrapper {
    will-change: height;
  }

  .product-info__content {
    will-change: opacity, visibility;
  }
}

/* stylelint-disable */
.product-info__content {
  font: 400 16px/19px $main-font-family;

  p {
    margin: 4px 0;
  }

  ul {
    padding: 0;
    margin: 10px 0;
    list-style: none;
  }

  ul li {
    position: relative;
    padding-left: 14px;

    &::before {
      content: "";
      position: absolute;
      top: 0.45em;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: currentColor;
    }
  }

  li {
    margin: 4px 0;
  }

  :first-child {
    margin-top: 10px;

    @media (min-width: $desktop-width) {
      margin-top: 20px;
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

/* stylelint-enable */

.product-info__content-wrapper.simplebar-scrollable-y {
  .simplebar-content::after {
    @media (min-width: $laptop-width) {
      position: sticky;
      bottom: 0;
      display: block;
      height: 60px;
      background: linear-gradient(to top, var(--background-color) 10px, transparent);
    }

    @media (min-width: $desktop-width) {
      background: linear-gradient(to top, var(--background-color) 20px, transparent);
    }
  }

  .product-info__content {
    @media (min-width: $laptop-width) {
      padding-bottom: 0;
    }
  }
}
