.product-badges__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 5px;
}

.product-badges__item {
  padding: 5px 8px;
  border-radius: 4px;
  font: 600 12px/1 $main-font-family;
  color: var(--brand-color);
  background: var(--background-additional-color);
}

.product-badges--light .product-badges__item {
  background: var(--background-color);
}
