.promocode {
  font-family: $main-font-family;
  font-weight: 400;
}

.promocode__form {
  display: grid;
  padding: 2px;
  border-radius: 8px;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: var(--background-additional-color);

  @media (min-width: $wide-tablet-width) {
    background: var(--background-color);
  }
}

.promocode__control {
  width: 100%;
  padding: 0;
  border: none;
  font: 500 16px/24px $main-font-family;
  background: transparent;
  outline: none;

  &::placeholder {
    opacity: 1;
    color: var(--text-weak-color-3);
  }
}

.promocode__label {
  display: grid;
  padding: 0 10px;
}

.promocode__button {
  display: flex;
  width: 66px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 7px;
  color: var(--text-light-color);
  background: var(--background-dark-color);
  cursor: pointer;
  transition: color $duration-m ease-in-out;

  &::before {
    content: "";
    width: 16px;
    aspect-ratio: 1 / 1;
    margin: auto;
    background: currentColor;
    mask: url("../img/icons.svg#controls_plus");
    transition: transform $duration-xs ease-in;
  }

  &:not(.promocode__button--pending):hover {
    color: var(--brand-color);
  }

  &:not(.promocode__button--pending):active {
    color: var(--brand-color);

    &::before {
      transform: scale(0.85);
    }
  }

  &--delete {
    color: var(--text-weak-color-3);

    &::before {
      width: 22px;
      mask: url("../img/icons.svg#trash");
    }
  }
}

.promocode__button--pending {
  position: relative;
  pointer-events: none;

  &::before {
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: currentColor;
    mask: url("../img/spinner.svg");
    mask-size: contain;
    transform: translate(-50%, -50%);
  }
}

.promocode__text {
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 14px;

  &--success {
    color: var(--success-color);
  }

  &--error {
    color: var(--error-color);
  }
}
