.seasons-slider {
  position: relative;
  z-index: 0;
}

.seasons-slider .seasons-slider__pagination {
  position: relative;
  z-index: 2;
  inset: auto;
  display: flex;
  margin: 0 0 32px;
  column-gap: 16px;
  justify-content: space-between;

  @media (min-width: $laptop-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 31px;
  }
}

.seasons-slider .seasons-slider__pagination-button {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 6px;
  border: none;
  text-align: center;
  font: 300 28px/1 $main-font-family;
  color: var(--brand-color);
  background: transparent;
  cursor: pointer;

  @media (min-width: $laptop-width) {
    padding-bottom: 10px;
    font-size: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
    font-size: 58px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;

    @media (min-width: $laptop-width) {
      height: 2px;
    }
  }
}

.seasons-slider .seasons-slider__pagination-button--active {
  &::after {
    transform: scaleX(1);
  }
}

.seasons-slider .seasons-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.seasons-slider .seasons-slider__item {
  box-sizing: border-box;
  padding: 0 9.5%;

  &::before {
    display: none;
  }
}

.seasons-slider .seasons-slider__item img {
  max-width: 520px;
  height: auto;
  aspect-ratio: 520 / 500;
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
}

.seasons-slider .swiper-slide-shadow-left.swiper-slide-shadow-flip,
.seasons-slider .swiper-slide-shadow-right.swiper-slide-shadow-flip {
  display: none;
}
