.site-header {
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  font: 400 16px/19px $main-font-family;
  transition-property: transform, border-color;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.site-header__inner {
  position: relative;
  z-index: 0;
  background: var(--background-color);
}

.site-header__container {
  background: var(--background-color);
}

.site-header__message {
  position: relative;
  z-index: 1;
  padding: 8px 0 7px;
  margin: 0;
  text-align: center;
  font: 500 12px/1 $main-font-family;
  background: var(--brand-color);
  color: var(--text-color);
  transition-property: padding, line-height, color;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;
  overflow: hidden;

  @media (min-width: $laptop-width) {
    font-size: 14px;
    padding: 9px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    padding: 8px 0;
  }
}

.site-header__message p {
  margin: 0;
}

.site-header__message a {
  color: inherit;
  text-decoration: none;
  transition: color $duration-s ease-in-out;

  &:hover {
    color: var(--text-light-color);
  }
}

.site-header__main-navigation {
  position: relative;
  display: grid;
  box-sizing: border-box;
  height: 100%;
  padding: 10px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "buttons-1       logo            buttons-2"
    "site-navigation site-navigation site-navigation";
  column-gap: 20px;
  align-items: center;
  transition: padding $duration-s ease-in-out;

  @media (min-width: $laptop-width) {
    padding: 20px 0;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "buttons-1 site-navigation buttons-2"
      ".         site-navigation .";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 180px 1fr 180px;
  }
}

.site-header__buttons-1 {
  grid-area: buttons-1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  transition-property: opacity, visibility;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.site-header__buttons-2 {
  grid-area: buttons-2;
  display: flex;
  align-items: center;
  justify-self: end;
  transition-property: opacity, visibility;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;

  @media (min-width: $laptop-width) {
    margin: 14px 0;
    column-gap: 25px;
    transition: margin $duration-s ease-in-out;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 18px 0 19px;
    column-gap: 20px;
  }
}

.site-header__burger.site-header__burger {
  display: grid;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  place-items: center;
  color: inherit;
  background: transparent;
  cursor: pointer;
  transition-property: color, transform;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: var(--brand-color);
  }

  &::before {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 13px;
    background: currentColor;
    mask: url("../img/icons.svg#controls_burger");
    transition: opacity $duration-s ease-in-out;
  }

  &::after {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    background: currentColor;
    mask: url("../img/icons.svg#controls_cross");
    opacity: 0;
    transition: opacity $duration-s ease-in-out;
  }

  @media (min-width: $laptop-width) {
    display: none;
  }
}

.site-header__search-button {
  display: grid;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
  transition-property: color, opacity, transform, visibility;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;

  &::before {
    content: "";
    width: 17px;
    height: 17px;
    background: currentColor;
    mask: url("../img/icons.svg#search");

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    color: var(--brand-color);
  }
}

.site-header__search-button--1 {
  @media (min-width: $laptop-width) {
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;
    transform-origin: left center;
  }
}

.site-header__search-button--1 .site-header__search-button-text {
  @media (max-width: ($laptop-width - 1)) {
    @include visually-hidden;
  }
}

.site-header__search-button--2 {
  opacity: 0;
  transform: scale(1.5);
  visibility: hidden;
}

.site-header__logo {
  grid-area: logo;
  justify-self: center;
  width: 62px;

  @media (min-width: $laptop-width) {
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 1;
    width: 97px;
    transform: translateX(-50%);
    transition-property: top, left, width, transform;
    transition-duration: $duration-s;
    transition-timing-function: ease-in-out;
  }

  @media (min-width: $desktop-width) {
    width: 136px;
  }
}

.site-header__site-navigation-wrapper {
  position: relative;
  grid-area: site-navigation;
  align-self: stretch;
  margin: 0;
  transition-property: margin-top;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;

  @media (max-width: ($laptop-width - 1)) {
    margin-right: calc(var(--edge-indent) * (-1));
    opacity: 0;
    visibility: hidden;
  }

  @media (min-width: $laptop-width) {
    justify-self: center;
    display: flex;
    justify-content: center;
    margin-top: 74px;
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 91px;
  }
}

.site-header__site-navigation {
  @media (max-width: ($laptop-width - 1)) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  @media (min-width: $laptop-width) {
    width: 100%;
    height: auto;
  }
}

.site-header__search {
  position: absolute;
  top: calc(100% - 76px);
  right: 0;
  left: 0;
  z-index: -1;
  padding: 20px 0 4px;
  background: var(--background-color);
  transform: translateY(-100%);
  transition-property: top, transform;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;
  pointer-events: none;

  @media (min-width: $laptop-width) {
    top: 0;
    z-index: 1;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.site-header__search-inner {
  @media (min-width: $laptop-width) {
    top: 0;
    display: grid;
    grid-template-columns: 1fr 138px;
    column-gap: 10px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 177px;
  }
}

.site-header__search-close-button-1 {
  position: absolute;
  right: 10px;
  bottom: 9px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  font-family: inherit;
  color: var(--text-weak-color);
  background: transparent;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition-property: color, opacity, visibility, transform;
  transition-duration: $duration-s;
  transition-timing-function: ease-out;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: currentColor;
    mask: url("../img/icons.svg#controls_cross");
    transition: background-color $duration-s;
  }

  &:hover {
    color: var(--brand-color);
  }

  &:active {
    color: var(--brand-color);
    transform: scale(0.85);
    transition-duration: $duration-s;
    transition-timing-function: ease-in;
  }

  @media (min-width: $laptop-width) {
    display: none;
  }
}

.site-header__search-close-button-2 {
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: var(--text-weak-color);
  background: transparent;
  cursor: pointer;
  transition: color $duration-s ease-in-out;

  &:hover {
    color: var(--brand-color);
  }

  @media (max-width: ($laptop-width - 1)) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.site-header__search-close-button-text {
  @media (max-width: ($laptop-width - 1)) {
    @include visually-hidden;
  }
}

.site-header__search-list {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 22px;

  @media (min-width: $laptop-width) {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
  }
}

.site-header__search-list-title {
  margin: 0 0 12px;
  line-height: 1;
  font-weight: 500;
}

.site-header__search-list-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-header__search-list-item + .site-header__search-list-item {
  margin-top: 4px;
}

.site-header__search-list-link {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: var(--text-weak-color);
  transition-property: color, background-color;
  transition-duration: $duration-s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: var(--text-color);
    background: var(--background-additional-color);
  }
}

.site-header--sticked {
  border-bottom-color: var(--border-light-color);

  .site-header__message {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    color: transparent;
  }

  @media (min-width: $laptop-width) {
    .site-header__buttons-2 {
      margin: 0;
    }

    .site-header__search-button--1 {
      opacity: 0;
      transform: scale(0.5);
      visibility: hidden;
    }

    .site-header__search-button--2 {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    .site-header__logo {
      top: 50%;
      left: 0;
      width: 68px;
      transform: translate(0, -50%);
    }

    .site-header__site-navigation-wrapper {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    .site-header__logo {
      width: 80px;
    }
  }
}

.site-header--menu-open {
  @media (max-width: ($laptop-width - 1)) {
    display: grid;
    height: 100vh;
    border-bottom: none;
    grid-template-rows: auto 1fr;

    @supports (height: 100dvh) {
      height: 100dvh;
    }

    .site-header__container {
      height: 100%;
    }

    .site-header__main-navigation {
      height: 100%;
      padding-top: 20px;
      padding-bottom: 0;
    }

    .site-header__site-navigation-wrapper {
      margin-top: 30px;
      opacity: 1;
      visibility: visible;
      transition-property: margin-top, opacity, visibility;
    }

    .site-header__burger {
      color: var(--text-weak-color);
      transform: translateY(5px);
    }

    .site-header__burger::before {
      opacity: 0;
    }

    .site-header__burger::after {
      opacity: 1;
    }

    .site-header__search-button--1 {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .site-header__buttons-2 {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.site-header--search-open {
  height: 100vh;
  background: var(--overlay-color);

  @supports (height: 100dvh) {
    height: 100dvh;
  }

  .site-header__main-navigation {
    padding-top: 20px;
  }

  .site-header__buttons-1 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .site-header__buttons-2 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .site-header__search-close-button-1 {
    opacity: 1;
    visibility: visible;
  }

  .site-header__search {
    transform: translateY(0);
    pointer-events: auto;

    @media (max-width: ($laptop-width - 1)) {
      top: 100%;
    }
  }
}

.site-header--hidden {
  transform: translateY(calc(-100% - 20px));
}

.site-header--transparent:not(.site-header--menu-open):not(.site-header--search-open) {
  .site-header__inner {
    transition: background-color $duration-s ease-in-out;
  }

  .site-header__container {
    transition: background-color $duration-s ease-in-out;
  }
}

.site-header--transparent:not(.site-header--sticked):not(.site-header--menu-open):not(.site-header--search-open) {
  @media (max-width: ($laptop-width - 1)) {
    .site-header__inner {
      color: var(--text-light-color);
      background: transparent;
    }

    .site-header__container {
      background: transparent;
    }
  }

  @media (min-width: $laptop-width) {
    .site-header__inner {
      color: var(--text-light-color);
      background: transparent;
    }

    .site-header__container {
      background: transparent;
    }
  }
}

.site-header--transparent:not(.site-header--sticked):not(.site-header--menu-open).site-header--search-open {
  @media (min-width: $laptop-width) {
    .site-header__inner {
      color: var(--text-light-color);
      background: transparent;
    }

    .site-header__container {
      background: transparent;
    }
  }
}

.site-header--transparent:not(.site-header--sticked).site-header--menu-open:not(.site-header--search-open) {
  @media (min-width: $laptop-width) {
    .site-header__inner {
      background: transparent;
    }

    .site-header__container {
      background: transparent;
    }
  }
}
