.subscription-form {
  font-family: $main-font-family;
  font-weight: 400;
}

.subscription-form__heading {
  max-width: 310px;
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $laptop-width) {
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

.subscription-form__field {
  font-size: 16px;
  line-height: 19px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.subscription-form__field-inner {
  display: block;
}

.subscription-form__field-control-wrapper {
  display: block;
  border-bottom: 1px solid var(--border-light-color-2);
  transition: border-color $duration-m ease-in-out;

  &:hover {
    border-color: currentColor;
  }

  &:focus-within {
    border-color: currentColor;
  }
}

.subscription-form__field-control {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 10px;
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  outline: none;

  &::placeholder {
    color: var(--text-weak-color);
    opacity: 1;
  }
}

.subscription-form__submit-button {
  width: 100%;
  margin: 10px 0 0;
}

.subscription-form__comment {
  display: block;
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color);

  @media (min-width: $laptop-width) {
    margin-top: 9px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.subscription-form__comment-link {
  font-weight: 600;
  text-decoration-style: dashed;
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;
  color: var(--brand-color);
  transition-property: color, text-decoration-color;
  transition-duration: $duration-m;
  transition-timing-function: ease-in-out;

  &:hover {
    text-decoration-color: currentColor;
  }

  &:active {
    color: inherit;
    text-decoration-color: currentColor;
    transition-timing-function: ease-in;
  }
}
