.taber__panel {
  position: relative;

  &--hidden {
    // (1)
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.taber--fancy {
  .taber__list {
    display: grid;
    padding: 2px;
    margin: 0 0 20px;
    border-radius: 4px;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    font: 500 14px/1 $main-font-family;
    color: var(--text-color-30);
    background: var(--background-additional-color);

    @media (min-width: $laptop-width) {
      padding: 4px;
      font-size: 16px;
    }
  }

  .taber__tab {
    display: block;
    padding: 9px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition-property: color, background-color;
    transition-duration: $duration-m;
    transition-timing-function: ease-in-out;

    @media (min-width: $laptop-width) {
      padding: 12px;
    }

    &:hover {
      color: var(--text-color);
    }

    &:active {
      color: var(--brand-color);
      transition-duration: $duration-xs;
    }
  }

  .taber__tab--active {
    color: var(--brand-color);
    background: var(--background-color);
    pointer-events: none;
  }
}

.taber--simple {
  .taber__list {
    display: flex;
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    flex-wrap: wrap;
    gap: 12px 30px;
    font: 300 28px/1 $main-font-family;
    color: var(--brand-color);

    @media (min-width: $laptop-width) {
      font-size: 44px;
      gap: 16px 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
      font-size: 58px;
      gap: 20px 60px;
    }
  }

  .taber__tab {
    position: relative;
    display: block;
    padding: 0 0 6px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition-property: color, background-color;
    transition-duration: $duration-m;
    transition-timing-function: ease-in-out;

    @media (min-width: $laptop-width) {
      padding-bottom: 10px;
    }
  }

  .taber__tab::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;

    @media (min-width: $laptop-width) {
      height: 2px;
    }
  }

  .taber__tab--active::after {
    transform: scaleX(1);
  }
}

/* (1)
 * Почему просто не задавать display: none?
 * При переключении на вкладку с таблицей в которой используется
 * кастомный скролл (плагин Scrollbar), было заметно как таблица
 * восстанавливала высоту их схлопнутого состояния.
 */
