.text-field {
  display: inline-block;
  font: 500 16px/24px $main-font-family;
}

.text-field__inner {
  display: grid;
  row-gap: 10px;

  @media (min-width: $laptop-width) {
    row-gap: 12px;
  }
}

.text-field__control-wrapper {
  display: grid;
  padding: 0 16px;
  border-radius: 8px;
  grid-template-columns: 1fr auto;
  column-gap: 12px;
  background: var(--background-additional-color);
}

.text-field__control {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  appearance: textfield;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    opacity: 1;
    color: var(--text-weak-color);
  }
}


/* stylelint-disable */
.text-field--button {

  .text-field__control-wrapper,
  .text-field__control {
    cursor: pointer;
  }

  .text-field__control::placeholder {
    color: var(--text-color);
  }
}

/* stylelint-enable */

.text-field--alter {
  .text-field__control-wrapper {
    display: block;
  }

  .text-field__control {
    text-align: center;
  }
}

.text-field--big {
  font-size: 18px;
  line-height: 28px;

  .text-field__control {
    padding: 10px 0;
  }
}
