.text-field {
  position: relative;
  display: inline-block;
  font: 500 16px/24px $main-font-family;
}

.text-field__inner {
  display: grid;
  row-gap: 10px;

  @media (min-width: $laptop-width) {
    row-gap: 12px;
  }
}

.text-field__control-wrapper {
  display: grid;
  padding: 0 16px;
  border-radius: 8px;
  grid-template-columns: 1fr auto;
  column-gap: 12px;
  align-items: center;
  background: var(--background-additional-color);
}

.text-field__control {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  appearance: textfield;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    opacity: 1;
    color: var(--text-weak-color);
  }
}

// [class*="text-field--with-icon_"] {
//   .text-field__inner::after {
//     content: "";
//   }
// }

.text-field--with-icon_edit {
  .text-field__control-wrapper::after {
    content: "";
    width: 16px;
    height: 16px;
    background: var(--text-weak-color);
    mask: url("../img/icons.svg#edit");
  }
}

/* stylelint-disable */
.text-field--button {

  .text-field__control-wrapper,
  .text-field__control {
    cursor: pointer;
  }

  .text-field__control::placeholder {
    color: var(--text-color);
  }
}

/* stylelint-enable */

.text-field--alter {
  .text-field__control-wrapper {
    display: block;
  }

  .text-field__control {
    text-align: center;
  }
}

.text-field--big {
  font-size: 18px;
  line-height: 28px;

  .text-field__control {
    padding: 10px 0;
  }
}

.text-field__data-list-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 52px;
    background: linear-gradient(to top, var(--background-additional-color), transparent);
    pointer-events: none;
  }
}

.text-field__data-list {
  width: calc(100% + 20px);
  max-height: 204px;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  overflow: auto;
}

.text-field__data-link {
  display: block;
  padding: 12px 16px;
  border-top: 1px solid var(--border-color);
  line-height: 1;
  text-decoration: none;
  color: inherit;
  background: var(--background-additional-color);
  outline: none;

  &:focus-visible,
  &:hover {
    color: var(--brand-color);
  }
}

.text-field__data-option:first-child .text-field__data-link {
  border-top: 0;
}

.text-field--list-open {
  .text-field__data-list-wrapper {
    display: block;
  }
}
