.tooltip {
  position: relative;
}

.tooltip__button.tooltip__button::after {
  width: 24px;

  @media (min-width: $laptop-width) {
    width: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
  }
}

.tooltip__content {
  position: absolute;
  top: -29px;
  right: -29px;
  z-index: 3;
  display: flex;
  box-sizing: border-box;
  width: 265px;
  padding: 14px 12px;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  text-align: center;
  font: 500 14px/17px $main-font-family;
  border-radius: 12px;
  color: var(--text-color);
  background: var(--background-color);
  box-shadow: 0 0 0 100000vmax var(--overlay-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: $duration-m;
  transition-timing-function: ease-in-out;

  @media (min-width: $wide-tablet-width) {
    top: -24px;
    right: auto;
    left: -6px;
  }

  @media (min-width: $laptop-width) {
    width: 420px;
    padding: 23px 22px;
    flex-direction: row;
    column-gap: 16px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background: var(--brand-color);
    mask: url("../img/icons.svg#info-fancy");

    @media (min-width: $laptop-width) {
      width: 40px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 24px;
    height: 24px;
    background: var(--text-light-color);
    mask: url("../img/icons.svg#controls_cross");

    @media (min-width: $laptop-width) {
      display: none;
    }
  }
}

.tooltip__button:hover + .tooltip__content {
  opacity: 1;
  visibility: visible;
}
