// .tooltip__button {
//   display: block;
//   padding: 0;
//   border: none;
//   background: transparent;
//   cursor: pointer;

//   &::after {
//     content: "";
//     display: block;
//     width: 24px;
//     aspect-ratio: 1 / 1;
//     background: var(--brand-color);
//     mask: url("../img/icons.svg#info-fancy");

//     @media (min-width: $laptop-width) {
//       width: 36px;
//     }

//     @media (min-width: $desktop-width) {
//       width: 40px;
//     }
//   }
// }

.tooltip__button.tooltip__button::after {
  width: 24px;

  @media (min-width: $laptop-width) {
    width: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
  }
}

.tooltip__content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: $duration-m;
  transition-timing-function: ease-in-out;
}

.tooltip__content {
  display: flex;
  box-sizing: border-box;
  width: 265px;
  padding: 14px 12px;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  text-align: center;
  font: 500 14px/17px $main-font-family;
  border-radius: 12px;
  margin: auto;
  color: var(--text-color);
  background: var(--background-color);

  @media (min-width: $laptop-width) {
    width: 420px;
    padding: 23px 22px;
    margin: 63px auto auto;
    flex-direction: row;
    column-gap: 16px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background: var(--brand-color);
    mask: url("../img/icons.svg#info-fancy");

    @media (min-width: $laptop-width) {
      width: 40px;
    }
  }
}

.tooltip__button:hover + .tooltip__content-wrapper {
  opacity: 1;
  visibility: visible;
}
