.user-navigation__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $laptop-width) {
    column-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.user-navigation__link {
  position: relative;
  display: block;
  color: inherit;
  transition: color $duration-m ease-in-out;

  &::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background: currentColor;

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
    }
  }

  &:hover,
  &:active {
    color: var(--brand-color);
  }
}

.user-navigation__counter {
  position: absolute;
  top: -3px;
  right: -7px;
  box-sizing: border-box;
  min-width: 15px;
  padding: 3px 1px 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  color: var(--text-light-color);
  background: var(--background-dark-color);

  @media (min-width: $desktop-width) {
    top: 0;
    right: -8px;
    min-width: 19px;
    padding: 5px 2px 4px;
  }
}

.user-navigation__link--user::before {
  mask: url("../img/icons.svg#user");
}

.user-navigation__link--cart::before {
  width: 16px;
  mask: url("../img/icons.svg#cart");

  @media (min-width: $desktop-width) {
    width: 24px;
    height: 25px;
  }
}
