-
  const cartItems = [
    {
      title: 'Шуба SETTE BLACK',
      image: 'img/products/product-2.webp',
      isRunningLow: true,
      available: true,
    },
    {
      title: 'Шуба SETTE BLACK',
      image: 'img/products/product-3.webp',
      available: true,
      color: true
    },
    {
      title: 'Шуба SETTE BLACK с длинным названием',
      image: 'img/products/product-3.webp',
      available: true,
    },
    {
      title: 'Чехол серый',
      image: 'img/products/gift.webp',
      isGift: true,
      available: true,
    },
    {
      title: 'Шуба SETTE BLACK',
      image: 'img/products/product-2.webp',
      isRunningLow: true,
      available: false,
    },
    {
      title: 'Шуба SETTE BLACK с длинным названием',
      image: 'img/products/product-3.webp',
      available: false,
    },
  ];
