-
  const celebrities = [
    {
      title: 'Виктория Дайнеко',
      image: 'viktoriya-dayneko.webp'
    },
    {
      title: 'Родиана Новикова',
      image: 'rodiana-novikova.webp'
    },
    {
      title: 'Дарья Дубровская',
      image: 'daria-dubrovskaya.webp'
    },
    {
      title: 'Екатерина Ратундалова',
      image: 'ekaterina-ratundalova.webp'
    },
    {
      title: 'Анна Якунина с дочерью Марией',
      image: 'anna-yakunina-s-docheryu-mariyey.webp'
    },
    {
      title: 'Мария Кожевникова',
      image: 'mariya-kozhevnikova.webp'
    },
    {
      title: 'Анжелика Андерсон',
      image: 'anzhelika-anderson.webp'
    },
    {
      title: 'Елена Ксенофонтова',
      image: 'elena-ksenofontova.webp'
    },
    {
      title: 'Александра Савельева',
      image: 'aleksandra-savelyeva.webp'
    },
    {
      title: 'Алёна Водонаева',
      image: 'alena-vodonayeva.webp'
    },
  ];
