-
  const pressPreviews = [
    {
      logo: {
        image: 'img/press/logos/cosmopolitan.webp',
        alt: 'COSMOPOLITAN'
      },
      author: 'Мария Кошкина',
      heading: 'Зеленая мода: российские и зарубежные звезды, которые пропагандируют Zero Waste',
      text: '«Как вы знаете, сегодня в моде экологичность и этичность по отношению к природе. Это касается, прежде всего, использования животного меха и кожи.»',
      image: 'img/press/preview-1.webp',
      link: 'https://www.thevoicemag.ru/fashion/star_style/zelenaya-moda-rossiyskie-i-zarubezhnye-zvezdy-kotorye-propagandiruyut-zero-waste/'
    },
    {
      logo: {
        image: 'img/press/logos/snc.webp',
        alt: 'SNC'
      },
      heading: 'Спасаем природу: как экомех стал круче натурального',
      text: '«Еще шесть лет назад шубы из экомеха расценивались не иначе, как дешевая подделка «настоящей» шубы из животного меха. Мы как раз тогда только начинали работать, и я хорошо помню это время. Рынок не был подготовлен, но было ощущение что скоро мы придем к пониманию истинной ценности этичных материалов.»',
      image: 'img/press/preview-2.webp',
      link: 'https://www.sncmedia.ru/fashion/spasaem-prirodu-kak-ekomekh-stal-kruche-naturalnogo/'
    },
    {
      logo: {
        image: 'img/press/logos/forbes.webp',
        alt: 'Forbes'
      },
      heading: 'Тепло и недорого: где производитель экошуб находит своих покупателей',
      text: '«Первые 300 заказов мы принимали именно в «Вконтакте», а сайт, торговые представители в регионах, магазины в Москве и Санкт-Петербурге появились позднее.»',
      image: 'img/press/preview-3.webp',
      link: 'https://www.forbes.ru/forbes-woman/355197-teplo-i-nedorogo-gde-proizvoditel-ekoshub-nahodit-svoih-pokupateley'
    },
    {
      logo: {
        image: 'img/press/logos/womans-day.webp',
        alt: 'woman\'s day'
      },
      author: 'Мария Кошкина',
      heading: 'Как выбрать шубу: советы дизайнера для обладательниц разных типов фигур и роста',
      text: '«Как подобрать шубу правильно, учитывая особенности фигуры, мы спросили у Марии Кошкиной — генерального директора и дизайнера компании по производству шуб из искусственного меха ANSE. Компания в этом году уже празднует 10-летие.»',
      image: 'img/press/preview-4.webp',
      link: 'https://theday.ru/moda-shopping/gar/kak-vybrat-shubu-sovety-dizainera-dlya-obladatelnic-raznykh-tipov-figur-i-rosta/'
    }
  ];
