-
  const products = [
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-1.webp',
      image2: 'img/products/product-additional.webp',
      sizes: true
    },
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-2.webp',
      image2: 'img/products/product-3.webp',
      sizes: true
    },
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-3.webp',
      image2: 'img/products/product-additional.webp',
      sale: true,
      colors: [6, 6, 'pink-flamingo', 1, 2, 3, 4, 5, 1]
    },
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-4.webp',
      image2: 'img/products/product-additional.webp',
      sale: true,
      new: true,
      colors: [1, 2, 3]
    },
  ];
