-
  const products = [
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-1.webp',
    },
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-2.webp',
    },
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-3.webp',
      sale: true,
    },
    {
      title: 'Шуба SETTE BLACK',
      price: '8 980',
      image: 'img/products/product-4.webp',
      sale: true,
      new: true,
    },
  ];
