-
  const countrySelect = {
    name: 'country',
    placeholder: 'Выберите страну',
    options: [
      {
        text: 'Россия',
        value: 'russia',
      },
      {
        text: 'Казахстан',
        value: 'kazakhstan',
      },
      {
        text: 'Беларусь',
        value: 'belarus',
      },
    ],
  };
