@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/onest-v6-cyrillic-latin-latinext-300.woff2") format("woff2");
}

@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/onest-v6-cyrillic-latin-latinext-400.woff2") format("woff2");
}

@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/onest-v6-cyrillic-latin-latinext-500.woff2") format("woff2");
}

@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/onest-v6-cyrillic-latin-latinext-600.woff2") format("woff2");
}

@font-face {
  font-family: "Liana";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/liana-400.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lato-400.woff2") format("woff2");
}
