:root {
  --text-color: #454545;
  --text-color-40: rgba(69, 69, 69, 0.4);
  --text-color-30: rgba(69, 69, 69, 0.3);
  --text-weak-color: #898c92;
  --text-light-color: #ffffff;
  --background-color: #ffffff;
  --background-additional-color: #f8f8f8;
  --background-dark-color: #454545;
  --brand-color: #faafd4;
  --accent-color: #f4371c;
  --border-color: #e0e0e0;
  --border-light-color: #f8f8f8;
  --border-light-color-2: rgba(46, 46, 46, 0.1);
  --overlay-color: rgba(45, 45, 45, 0.2);

  --edge-indent: 10px;
  --grid-column-gap: 10px;

  @media (min-width: $tablet-width) {
    --edge-indent: 20px;
  }

  @media (min-width: $laptop-width) {
    --edge-indent: 40px;
    --grid-column-gap: 20px;
  }
}

button {
  color: #0000ff;
}
