// Viewports
$wide-mobile-width: 390px;
$narrow-tablet-width: 720px;
$tablet-width: 768px;
$wide-tablet-width: 1024px;
$laptop-width: 1280px;
$desktop-width: 1600px;

$column-width-plus-edge-indents: 610px;

// Fonts
$main-font-family: "Onest", "Arial", sans-serif;
$decorative-font-family: "Liana", cursive;
$additional-font-family: "Lato", "Arial", sans-serif;

// Sizes
$centerer-max-width: 1520px;
$browser-scrollbar-width: 20px;

// Timings
$duration-xs: 200ms;
$duration-s: 300ms;
$duration-m: 400ms;
$duration-l: 500ms; // Соответствует MODAL_ANIMATION_DURATION в const.js
$duration-xxl: 1000ms;

// $duration-xs: 5000ms;
// $duration-s: 5000ms;
// $duration-m: 5000ms;
// $duration-l: 5000ms; // Соответствует MODAL_ANIMATION_DURATION в const.js
// $duration-xxl: 5000ms;
