include blocks/account
include blocks/account-menu
include blocks/advantages
include blocks/article
include blocks/banner
include blocks/brands
include blocks/breadcrumbs
include blocks/breadcrumbs-list
include blocks/button
include blocks/care-rules
include blocks/cart
include blocks/cart-item
include blocks/cart-notification
include blocks/cart-order
include blocks/catalog
include blocks/catalog-filter
include blocks/catalog-navigation
include blocks/catalog-preview
include blocks/categories
include blocks/celebrities
include blocks/celebrities-list
include blocks/checkout
include blocks/checkout-form
include blocks/checkout-order
include blocks/checker
include blocks/company-card
include blocks/company-preview
include blocks/consultant-contacts
include blocks/consumers-photos
include blocks/consumers-photos-modal-gallery-slider
include blocks/contacts-list
include blocks/counter
include blocks/delivery-and-payment
include blocks/delivery-methods
include blocks/developer
include blocks/fake-counter
include blocks/info
include blocks/info-button
include blocks/installments
include blocks/logo
include blocks/location-info
include blocks/location-map
include blocks/main-banner
include blocks/manager-contacts
include blocks/message
include blocks/modal
include blocks/modal-gallery
include blocks/modal-offer
include blocks/modal-size
include blocks/order
include blocks/order-card
include blocks/orders
include blocks/orders-list
include blocks/page-header
include blocks/pagination
include blocks/payment-methods
include blocks/payment-systems
include blocks/placeholder
include blocks/press
include blocks/press-list
include blocks/press-preview
include blocks/price-section
include blocks/privacy-policy
include blocks/product
include blocks/product-info
include blocks/product-badges
include blocks/product-card
include blocks/production
include blocks/products
include blocks/products-list
include blocks/products-slider
include blocks/profile
include blocks/profile-form
include blocks/promocode
include blocks/public-offer
include blocks/radio-button
include blocks/review
include blocks/reviews
include blocks/reviews-intro
include blocks/reviews-intro-photos-modal-gallery-slider
include blocks/reviews-list
include blocks/search
include blocks/search-form
include blocks/select
include blocks/set
include blocks/shop
include blocks/simple-filter
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/size-buttons
include blocks/size-chart
include blocks/size-guide
include blocks/size-guide-taber
include blocks/slider-arrows.pug
include blocks/socials-list
include blocks/statistics
include blocks/statistics-list
include blocks/subscription-form
include blocks/text-area
include blocks/text-field
include blocks/tooltip
include blocks/user-navigation
include blocks/video
