include blocks/advantages
include blocks/article
include blocks/banner
include blocks/brands
include blocks/breadcrumbs
include blocks/breadcrumbs-list
include blocks/button
include blocks/care-rules
include blocks/catalog-preview
include blocks/categories
include blocks/celebrities
include blocks/celebrities-list
include blocks/company-preview
include blocks/consumers-photos
include blocks/consumers-photos-modal-gallery-slider
include blocks/contacts-list
include blocks/company-card
include blocks/delivery-and-payment
include blocks/developer
include blocks/info
include blocks/logo
include blocks/location-info
include blocks/location-map
include blocks/message
include blocks/modal
include blocks/payment-systems
include blocks/press
include blocks/press-list
include blocks/press-preview
include blocks/privacy-policy
include blocks/product-badges
include blocks/product-card
include blocks/production
include blocks/products-list
include blocks/products-slider
include blocks/public-offer
include blocks/review
include blocks/reviews
include blocks/reviews-intro
include blocks/reviews-intro-photos-modal-gallery-slider
include blocks/reviews-list
include blocks/shop
include blocks/simple-filter
include blocks/site-footer
include blocks/site-header
include blocks/size-chart
include blocks/size-guide
include blocks/size-guide-taber
include blocks/slider-arrows.pug
include blocks/socials-list
include blocks/statistics
include blocks/statistics-list
include blocks/subscription-form
include blocks/video
